{% extends 'index.html' %}



{% block content %}

<style>
        div.ButtonTrans {
            width: 50%; /* Set a fixed width for the element */
            margin: 0 auto; /* Center the element horizontally */
            position: absolute; /* Position the element absolutely */
            top: 20%; /* Move the element down by 50% of its own height */
            left: 50%; /* Move the element right by 50% of its own width */
            transform: translate(-50%, -50%); /* Offset the element by its own width and height */
    }

    div.insertEquipment {
            width: 50%; /* Set a fixed width for the element */
            margin: 0 auto; /* Center the element horizontally */
            position: absolute; /* Position the element absolutely */
            top: 27%; /* Move the element down by 50% of its own height */
            left: 50%; /* Move the element right by 50% of its own width */
            transform: translate(-50%, -50%); /* Offset the element by its own width and height */
    }
</style>


<body>
    <div class="container">
        <div class="ButtonTrans">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#insertEquipment">
                Add Equipment
            </button>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateEquipment">
                Update Equipment
            </button>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#equipmentTable">
                Equipment List
            </button>

            
        </div>
        <div class="insertEquipment">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#insertRentalTrans">
                Insert Rental
            </button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#rentalList">
                Rental List
            </button>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="insertEquipment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Equipment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>

                
                <div class="modal-body">

                
                    <label for="EquipmentID"
                    >Equipment ID</label>
                    
                    <input 
                    type="text"
                    name="equipmentId"
                    id="equipmentId"
                    
                    class="form-control"
                    >

                    <label for="Equipment Discription"
                    >Equipment Discription</label>
                    
                    <input 
                    type="text"
                    name="equipmentDesc"
                    id="equipmentDesc"
                    
                    class="form-control"
                    >

                    <label for="Rental Rate"
                        >Rental Rate</label>
                        
                        <input 
                        type="number"
                        name="rentalRate"
                        id="rentalRate"
                        step="0.01"
                        class="form-control"
                        >

                    <label for="Remarks"
                    >Remarks</label>

                    <input 
                    type="text"
                    name="remarks"
                    id="remarks"
                    
                    class="form-control"
                    >

                    <label for="Owner"
                    >Owner</label>

                    <input 
                    type="text"
                    name="owner"
                    id="owner"
                    
                    class="form-control"
                    >
                    
                    <br><br>
                    
        
                
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" onclick="insertEquipment()" class="btn btn-primary">Save</button>
                <!-- <button type="button" name ="save_button" id="save_button" class="btn btn-success">Save</button> -->
                </div>
            </div>
            </div>
        </div>


        <!-- This for table of Equipment -->

        <div class="modal fade" id="equipmentTable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Euipment Table</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>

                
                <div class="modal-body">
                    <div class="container mt-3">
                        <button type="submit" onclick="displayData()" class="btn btn-primary">Display</button>
                    </div>

                    <div  class="container mt-3">
                        <table id="myTable" class="table table-bordered"  style="text-align: center;">
                            <thead class="table-dark">
                            
                                    <td>ID</td>
                                    <td>Equipment ID</td>
                                    <td>Equipment Description</td>
                                    <td>Rental Rate</td>
                                    <td>Remarks</td>
                                    <td>Owner</td>
                                    <td>Action</td>
                                    
                                </tr>
                            </thead>
                            <tbody id="table_body">
                               
                                    
                                    <tr>
                                        
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                   
                                
                            </tbody>
            
                           
            
                        </table>
            
                        
                            
                            
                    </div>
        
                  
           </div>
        

                   
        
                
                </div>
                <div class="modal-footer">
                
                <!-- <button type="button" name ="save_button" id="save_button" class="btn btn-success">Save</button> -->
                </div>
            </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="updateEquipment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Equipment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>

                
                <div class="modal-body">

                    <label for="transID"
                    >Trans ID</label>
                    
                    <input 
                    type="text"
                    name="transID"
                    id="transID"
                    required
                    
                    >

                    <button type="submit"  onclick="dislayDataEquipment()" class="btn btn-success">
                        Search 
                        <i class="fas fa-database"></i>
                    </button>

                    <br>
                    
                    
                
                    <label for="EquipmentID"
                    >Equipment ID</label>
                    
                    <input 
                    type="text"
                    name="equipmenIdUpdate"
                    id="equipmenIdUpdate"
                    
                    class="form-control"
                    >

                    <label for="Equipment Discription"
                    >Equipment Discription</label>
                    
                    <input 
                    type="text"
                    name="equipmentDescUpdate"
                    id="equipmentDescUpdate"
                    
                    class="form-control"
                    >

                    <label for="Rental Rate"
                        >Rental Rate</label>
                        
                        <input 
                        type="number"
                        name="rentalRateUpdate"
                        id="rentalRateUpdate"
                        step="0.01"
                        class="form-control"
                        >

                    <label for="Remarks"
                    >Remarks</label>

                    <input 
                    type="text"
                    name="remarksUpdate" 
                    id="remarksUpdate"
                    
                    class="form-control"
                    >

                    <label for="Owner"
                    >Owner</label>

                    <input 
                    type="text"
                    name="ownerUpdate" 
                    id="ownerUpdate"
                    
                    class="form-control"
                    >
                    
                    <br><br>
                    
        
                
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" onclick="update_equipment()" class="btn btn-primary">Update</button>
                <!-- <button type="button" name ="save_button" id="save_button" class="btn btn-success">Save</button> -->
                </div>
            </div>
            </div>
        </div>


        <!-- Modal insert Rental Transaction -->
        <div class="modal fade" id="insertRentalTrans" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Insert Rental</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>

                
                <div class="modal-body">

                    <label for="transDate"
                    >Trans Date</label>
                    
                    <input 
                    type="date"
                    name="transactionDateRentTrans"
                    id="transactionDateRentTrans"
                    class="form-control"
                    >

                    <label for="transID"
                    >Equipment ID</label>
                    
                    <br>
                    <input 
                    type="text"
                    name="equipmentIdRent"
                    id="equipmentIdRent"
                    required
                    
                    >

                    <button type="submit"  onclick="dislayDataEquipmentRental()" class="btn btn-success">
                        Search 
                        <i class="fas fa-database"></i>
                    </button>

                    <br>
                    
                    
                
                    <label for="Total Hours"
                    >Total Hours</label>
                    
                    <input 
                    type="number"
                    name="totalHoursRentalTrans"
                    id="totalHoursRentalTrans"
                    step="0.01"
                    class="form-control"
                    >

                   

                    <label for="Rental Rate"
                        >Rental Rate</label>
                        
                        <input 
                        type="number"
                        name="rentalRateTransaction"
                        id="rentalRateTransaction"
                        step="0.01"
                        class="form-control"
                        >
                    
                    <label for="Total Amount"
                        >Gross Amount</label>
                        
                        <input 
                        type="number"
                        name="grossAmountTransaction"
                        id="grossAmountTransaction"
                        step="0.01"
                        class="form-control"
                        >

                    <label for="Tax Rate"
                        >Tax Rate</label>
                        
                        <input 
                        type="number"
                        name="taxRateTransaction"
                        id="taxRateTransaction"
                        step="0.01"
                        class="form-control"
                        >


                    <label for="Vat Output"
                        >Vat Output</label>
                        
                        <input 
                        type="number"
                        name="vatOutputRentalTrans"
                        id="vatOutputRentalTrans"
                        step="0.01"
                        class="form-control"
                        >

                    <label for="NetofVat"
                        >Net of VAt</label>
                        
                        <input 
                        type="number"
                        name="netOfVAtRentalTrans"
                        id="netOfVAtRentalTrans"
                        step="0.01"
                        class="form-control"
                        >

                    <label for="driverOperator"
                        >Driver/Operator</label>
                        
                        <input 
                        type="text"
                        name="driverOperatorRentaltrans"
                        id="driverOperatorRentaltrans"
                        
                        class="form-control"
                        >

                    <label for="Owner"
                        >Owner</label>
                        
                        <input 
                        type="text"
                        name="ownerRentaltrans"
                        id="ownerRentaltrans"
                        
                        class="form-control"
                        >

                    
                    
                    <br><br>
                    
        
                
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" onclick="insertRentalTrans()" class="btn btn-primary">Save</button>
                <!-- <button type="button" name ="save_button" id="save_button" class="btn btn-success">Save</button> -->
                </div>
            </div>
            </div>
        </div>


        <!-- This for table of Equipment -->

        <div class="modal fade" id="rentalList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Euipment Table</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>

                
                <div class="modal-body">
                    <div class="container mt-3">
                        <label for="dateFrom"
                        >From</label>
                        
                            <input 
                            type="date"
                            name="dateFromRentTrans"
                            id="dateFromRentTrans"
                           
                            >

                    
                        <label for="dateTo"
                        >To</label>
                        
                            <input 
                            type="date"
                            name="dateToRentTrans"
                            id="dateToRentTrans"
                           
                            >
                        <label for="Equipment"
                            >Equipment</label>
                            <input 
                            type="text"
                            name="equipmentSearchRentTrans"
                            id="equipmentSearchRentTrans"
                            
                            >
                        <label for="Owner"
                            >Owner</label>
                        
                            <input 
                            type="text"
                            name="ownerSearchRentTrans"
                            id="ownerSearchRentTrans"
                            
                            >
                        <button type="submit" onclick="displayRentalData()" class="btn btn-primary">Search</button>

                        <button type="submit"  onclick="html_table_excel('xlsx')" class="btn btn-secondary">
                            Export Excel
                            <i class="fas fa-database"></i>
                        </button>
                    </div>

                    <div  class="container mt-3">
                        <table id="myTable" class="table table-bordered"  style="text-align: center;">
                            <thead class="table-dark">
                            
                                    <td>ID</td>
                                    <td>Trans Date</td>
                                    <td>Equipment ID</td>
                                    <td>Total Hour</td>
                                    <td>Rental Rate</td>
                                    <td>Total Amount</td>
                                    <td>Owner</td>
                                    <td>Delete</td>
                                    <td>Update</td>
                                </tr>
                            </thead>
                            <tbody id="table_body2">
                               
                                    
                                    <tr>
                                        
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                   
                                
                            </tbody>
            
                           
            
                        </table>
            
                        
                            
                            
                    </div>
        
                  
           </div>
        

                   
        
                
                </div>
                <div class="modal-footer">
                
                <!-- <button type="button" name ="save_button" id="save_button" class="btn btn-success">Save</button> -->
                </div>
            </div>
            </div>
        </div>








    </div>

    <!-- This is to insert Equipment to tvi table -->
    <script type="text/javascript">
        // Define an async function to insert equipment
        async function insertEquipment() {
          // Get the values of the input fields
          const data = {
            equipmentId: document.getElementById("equipmentId").value,
            equipmentDesc: document.getElementById("equipmentDesc").value,
            rentalRate: document.getElementById("rentalRate").value,
            remarks: document.getElementById("remarks").value,
            owner: document.getElementById("owner").value
          };
      
          // Use the fetch API to send the POST request
          try {
            const response = await fetch(`/api-insert-tvi-equipment/`, {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify(data)
            });
      
            // Check if the response was successful
            if (response.status === 200) {
              window.alert("Your data has been saved");
              window.location.assign("/tvi-transaction/");
              console.log(response.json());
            } else if (response.status === 401) {
              window.alert("Unauthorized credential. Please login");
            }
          } catch (error) {
            // Catch any errors and log them to the console
            window.alert(error);
            console.log(error);
          }
        }
      </script>

    <!-- This function is for displaying Equipment Data -->

    <script type="text/javascript">
         // const rental_url =search_url ;
         async function displayData(){
            
            const search_url = `/api-get-tvi-equipment/`;


            const responce = await fetch(search_url)
            const data = await responce.json();
            console.log(data)
            
            
            
            let tableData="";
            data.map((values)=>{
                tableData+= ` <tr>
                            <td>${values.id}</td>
                            <td>${values.equipmentID}</td>
                            <td>${values.equipmentDesc}</td>
                            <td>${values.rentalRate}</td>
                            <td>${values.remarks}</td>
                            <td>${values.owner}</td>
                           
                            <td>
                                <button type="button"  id="remove_button" onclick="delete_equipment(${values.id})" class="btn btn-danger">
                                    <i class="fas fa-database">
                                    </i>Remove</button>
                            </td>

                            
                        
                        </tr>`;
            });
            document.getElementById("table_body").innerHTML=tableData;
        }
        
      
        
    </script>



    <!-- This is for displaying equipment  using ID of Transaction -->
    <script type="text/javascript">

            //         // Function to display data for the equipment with the given ID
            async function dislayDataEquipment() {
                // Get the equipment ID from the input field
                var transid = document.getElementById("transID").value

                // Construct the API URL using the equipment ID
                var search_url = `/api-get-tvi-equipment-id/?id=${transid}`;

                try {
                // Call the API using the fetch API
                var responce = await fetch(search_url)
                var data = await responce.json();
                console.log(data)
                // Check if the API call was successful
                if (responce.status != 200) {
                    window.alert("Unauthorized Please Login")
                }

                // Check if any data was returned
                if (data.length === 0) {
                    window.alert(`No ID store for ${transid}`)
                } else {
                    // Get the data for the equipment
                    var equipmenIdUpdate = data[0].equipmentID
                    var equipmentDescUpdate = data[0].equipmentDesc
                    var rentalRateUpdate = data[0].rentalRate
                    var remarksUpdate = data[0].remarks
                    var ownerUpdate = data[0].owner

                    // Update the input fields with the equipment data
                    document.getElementById("equipmenIdUpdate").value = equipmenIdUpdate;
                    document.getElementById("equipmentDescUpdate").value = equipmentDescUpdate;
                    document.getElementById("rentalRateUpdate").value = rentalRateUpdate;
                    document.getElementById("remarksUpdate").value = remarksUpdate;
                    document.getElementById("ownerUpdate").value = ownerUpdate;
                }
                } catch (error) {
                // Handle any errors that occurred in the fetch call
                console.error(error)
                window.alert("Error occurred while fetching data")
                }
            }

    </script>


    <script type="text/javascript">
        function update_equipment() {
            var data = {};
            var id = document.getElementById("transID").value;
            data["equipmentId"] = document.getElementById("equipmenIdUpdate").value;
            data["equipmentDesc"] = document.getElementById("equipmentDescUpdate").value;
            data["rentalRate"] = document.getElementById("rentalRateUpdate").value;
            data["remarks"] = document.getElementById("remarksUpdate").value;
            data["owner"] = document.getElementById("ownerUpdate").value;

            console.log(data);

            if (id === '') {
                window.alert("Trans ID field is requires");
            } else {
                // Use async/await to simplify the fetch call
                (async () => {
                    try {
                        // Use template literals to build the URL
                        const response = await fetch("/api-update-tvi-equipment/"+ id, {
                            method: "PUT",
                            headers: { "Content-Type": "application/json" },
                            body: JSON.stringify(data)
                        });

                        // Use response.ok to check if the response was successful
                        if (response.ok) {
                            window.alert("Your Data has been Updated");
                            window.location.assign("/tvi-transaction/");
                            console.log(await response.json());
                        } else if (response.status === 401) {
                            window.alert("Unauthorized credential Please Login");
                        }
                    } catch (error) {
                        // Catch errors
                        window.alert(error);
                        console.log(error);
                    }
                })();
            }
        }
    </script>


    <!-- This is for auto complete of Routes -->
    <script>
        $( function() { 
                    $("#equipmentIdRent").autocomplete({
                    source: "/api-search-autocomplete-tvi-equipment/"
                    });

                } );

    </script>

    <!-- This is for displaying equipment  using ID of Transaction -->
    <script type="text/javascript">


            // equipmentID = document.getElementById('equipmentIdRent').value;
            async function dislayDataEquipmentRental() {
            try {
                equipmentID = document.getElementById('equipmentIdRent').value;
                // Construct the API URL using a template string
                const searchUrl = `/api-get-tvi-equipment-equipmentID/?equipmentID=${equipmentID}`;

                // Call the API using the fetch API
                const responce = await fetch(searchUrl);
                const data = await responce.json();
                console.log(data)
                // Check if the API call was successful
                if (!responce.ok) {
                window.alert("Unauthorized Please Login");
                }

                // Check if any data was returned
                if (data.length === 0) {
                window.alert(`No ID store for ${equipmentID}`);
                } else {
                // Get the data for the equipment
                const rentalRate = data[0].rentalRate;
                const owner = data[0].owner;
                // Update the input fields with the equipment data
                
                document.getElementById("ownerRentaltrans").value = owner;
                document.getElementById("rentalRateTransaction").value = rentalRate;
                }
            } catch (error) {
                // Handle any errors that occurred in the fetch call
                console.error(error);
                window.alert("Error occurred while fetching data");
            }
            }

    </script>

    <!-- This is for  computation of Gross Amount -->
    <script type="text/javascript">
        const totalHoursElement = document.getElementById('totalHoursRentalTrans');
        const rentalRateElement = document.getElementById('rentalRateTransaction');
        const grossAmountElement = document.getElementById('grossAmountTransaction');

        totalHoursElement.addEventListener('input', updateGrossAmount);
        rentalRateElement.addEventListener('input', updateGrossAmount);

        function updateGrossAmount() {
        const totalHours = Number(totalHoursElement.value);
        const rentalRate = Number(rentalRateElement.value);

        if (isNaN(totalHours) || isNaN(rentalRate)) {
            grossAmountElement.value = '';
            return;
        }

        const grossAmount = calculateGrossAmount(totalHours, rentalRate);
        grossAmountElement.value = grossAmount.toFixed(2);
        }

        function calculateGrossAmount(totalHours, rentalRate) {
        return totalHours * rentalRate;
        }
    </script>


    <!-- This is for  computation of Vat Output  and Net of Vat-->
    <script type="text/javascript">
        const grossAmountInput = document.getElementById('grossAmountTransaction');
        const taxRateElement = document.getElementById('taxRateTransaction');
        const vatOutputElement = document.getElementById('vatOutputRentalTrans');
        const netOfVatElement = document.getElementById('netOfVAtRentalTrans');

        grossAmountInput.addEventListener('input', updateVatAmount);
        taxRateElement.addEventListener('input', updateVatAmount);
        grossAmountInput.addEventListener('input', updateVatAmount);

        function updateVatAmount() {
        const totalgross = Number(grossAmountInput.value);
        const taxRate = Number(taxRateElement.value);
        const vatOutputCal = Number(vatOutputElement.value);

        if (isNaN(totalgross) || isNaN(taxRate)) {
            vatOutputElement.value = '';
            return;
        }

        const vatOutput = calculateVatOutput(totalgross, taxRate);
        vatOutputElement.value = vatOutput.toFixed(2);

        const netOfVat = calculatenetOfVat(totalgross, vatOutputCal);
        netOfVatElement.value = netOfVat.toFixed(2);

        
        }

    
        function calculateVatOutput(totalgross, taxRate) {
        return (totalgross/1.12) * taxRate;
        }


        function calculatenetOfVat(totalgross, vatOutputCal) {
        return totalgross /1.12;
        }
    </script>

     <!-- This is to insert Equipment to tvi table -->
     <script type="text/javascript">
        // Define an async function to insert equipment
        async function insertRentalTrans() {
          // Get the values of the input fields
          const data = {
            transDate: document.getElementById("transactionDateRentTrans").value,
            equipmentId: document.getElementById("equipmentIdRent").value,
            totalHours: document.getElementById("totalHoursRentalTrans").value,
            rentalRate: document.getElementById("rentalRateTransaction").value,
            taxRate: document.getElementById("taxRateTransaction").value,
            vat_output: document.getElementById("vatOutputRentalTrans").value,
            driverOperator: document.getElementById("driverOperatorRentaltrans").value,
            owner: document.getElementById("ownerRentaltrans").value,
            
          };
      
          // Use the fetch API to send the POST request
          try {
            const response = await fetch(`/api-insert-tvi-rental-transaction/`, {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify(data)
            });
      
            // Check if the response was successful
            if (response.status === 200) {
              window.alert("Your data has been saved");
              console.log(data);
              window.location.assign("/tvi-transaction/");
              
            } else if (response.status === 401) {
              window.alert("Unauthorized credential. Please login");
            }
          } catch (error) {
            // Catch any errors and log them to the console
            window.alert(error);
            console.log(error);
          }
        }
      </script>

     <!-- This function is for displaying Rental Data -->

        <script type="text/javascript">
            // const rental_url =search_url ;
            async function displayRentalData(){
                var datefrom = document.getElementById('dateFromRentTrans').value;
                var dateto = document.getElementById('dateToRentTrans').value;
                var equipmentID = document.getElementById('equipmentSearchRentTrans').value;
                var owner = document.getElementById('ownerSearchRentTrans').value;
            const search_url = `/api-get-tvi-rental-transactions/?datefrom=${datefrom}&dateto=${dateto}
                                &equipmentID=${equipmentID}&owner=${owner}`;

            
            const responce = await fetch(search_url)
            const data = await responce.json();
            console.log(data)
            
            if (responce.status === 200) {
                let tableData2="";
                data.map((values)=>{
                    tableData2+= ` <tr>
                                <td>${values.id}</td>
                                <td>${values.transDate}</td>
                                <td>${values.equipmentID}</td>
                                <td>${values.totalHours}</td>
                                <td>${values.rentalRate}</td>
                                <td>${values.owner}</td>
                                <td>${values.totalAmount}</td>
                            
                                
                                <td>
                                    <button type="button"  id="remove_button" onclick="delete_rental_transactions(${values.id})" class="btn btn-danger">
                                        <i class="fas fa-database">
                                        </i>Remove</button>
                                </td>

                                <td>
                                    
                                    <a href="/api-update-tiv-rental-withID/${values.id}"
                                    <button type="button" class="btn btn-primary">
                                    <i class="fas fa-database"></i> Edit</button></a>
                                                       
                           </td>

                               
                            
                            </tr>`;
                });
                    document.getElementById("table_body2").innerHTML=tableData2;
                }else if (responce.status === 401){
                    window.alert("Unauthorized credential. Please login");
                }
            
            }
            
            
        
        
        </script>


        <script type="text/javascript">
            function delete_rental_transactions(id) {
            if (confirm('Are you sure you want to delete this rental transaction?')) {
                fetch(`/api-deletetiv-rental/${id}`, {
                method: 'DELETE'
                })
                .then(response => {
                    if (response.ok) {
                    alert('Your data has been deleted');
                    window.location.assign('/tvi-transaction/');
                    } else {
                    throw new Error('Failed to delete data');
                    }
                })
                .catch(error => {
                    alert(error.message);
                });
            }
            }
        </script>




    <!-- this function is for exporting Excel -->
        <script>
            function html_table_excel(type){
                var data = document.getElementById('table_body2');
                var file = XLSX.utils.table_to_book(data,{sheet: "sheet1"});
                XLSX.write(file,{ booktype: type, bookSST: true, type: 'base64'});
                XLSX.writeFile(file, 'rental.' + type);

            }

            
        </script>
  
   
      
</body>

{% endblock %}
