{% extends 'index.html' %}



{% block content %}
<style>

#div1 {
            width: 40%; /* Set the width of the div element */
            margin: auto; /* Center the div */
            border-width: 1px;
            border-style: solid;
            border-color: lightgray;
            background-color: gray;
            
    }

 /* input.form-control{
    
    background-color: blue;
  } */
 

</style>
<body>
    <div class="container mt-3" id="div1">
        <h2 style="color:yellow;">UPDATE COST TRANSACTION</h2>
                {% for list in Data %}
                        
                        <input 
                        type="text" hidden
                        name="transID"
                        id="transID"
                        value="{{list.id}}"
                        class="form-control"
                        >

                        <label for=""style="color:yellow;">Transaction Date</label>
                        <input 
                        
                        type="date"
                        name="transactionDateRentTrans"
                        id="transactionDateRentTrans"
                        value="{{list.transDate}}"
                        class="form-control"
                        >

                <label class="red-text" for="EquipmentID"style="color:yellow;"
                        >Equipment ID</label>
                        
                        <input 
                        type="text"
                        name="equipmentId"
                        id="equipmentId"
                        value="{{list.equipmentId}}"
                        class="form-control"
                        >


                        

                <label for="Total Hours"style="color:yellow;"
                        >Total Hours</label>
                        
                        <input 
                        type="number"
                        name="totalHoursRentalTrans"
                        id="totalHoursRentalTrans"
                        step="0.01"
                        value="{{list.totalHours}}"
                        class="form-control"
                        >

                <label for="Rental Rate" style="color:yellow;"
                        >Rental Rate</label>
                        
                        <input 
                        type="number"
                        name="rentalRateTransaction"
                        id="rentalRateTransaction"
                        step="0.01"
                        value="{{list.rentalRate}}"
                        class="form-control"
                        >

                <label for="Total Amount"style="color:yellow;"
                        >Gross Amount</label>
                        
                        <input 
                        type="number"
                        name="grossAmountTransaction"
                        id="grossAmountTransaction"
                        step="0.01"
                        value="{{list.totalAmount}}"
                        class="form-control"
                        >
                <label for="Tax Rate"style="color:yellow;"
                        >Tax Rate</label>
                        
                        <input 
                        type="number"
                        name="taxRateTransaction"
                        id="taxRateTransaction"
                        step="0.01"
                        value="{{list.taxRate}}"
                        
                        class="form-control"
                        >

                <label for="Vat Output"style="color:yellow;"
                        >Vat Output</label>
                        
                        <input 
                        type="number"
                        name="vatOutputRentalTrans"
                        id="vatOutputRentalTrans"
                        step="0.01"
                        value="{{list.vat_output}}"
                        class="form-control"
                        >

                <label for="NetofVat"style="color:yellow;"
                        >Net of VAt</label>
                        
                        <input 
                        type="number"
                        name="netOfVAtRentalTrans"
                        id="netOfVAtRentalTrans"
                        step="0.01"
                        value="{{list.net_of_vat}}"
                        class="form-control"
                        >

                <label for="driverOperator"style="color:yellow;"
                        >Driver/Operator</label>
                        
                        <input 
                        type="text"
                        name="driverOperatorRentaltrans"
                        id="driverOperatorRentaltrans"
                        value="{{list.driverOperator}}"
                        class="form-control"
                        > 


                {% endfor %}
                



            

            <button type="submit"  onclick="update_rentalData()" class="btn btn-success">
                Update
                <i class="fas fa-database"></i>
            </button>
        
        
    </div>


    <!-- This is for  computation of Gross Amount -->
    <script type="text/javascript">
        const totalHoursElement = document.getElementById('totalHoursRentalTrans');
        const rentalRateElement = document.getElementById('rentalRateTransaction');
        const grossAmountElement = document.getElementById('grossAmountTransaction');

        totalHoursElement.addEventListener('input', updateGrossAmount);
        rentalRateElement.addEventListener('input', updateGrossAmount);

        function updateGrossAmount() {
        const totalHours = Number(totalHoursElement.value);
        const rentalRate = Number(rentalRateElement.value);

        if (isNaN(totalHours) || isNaN(rentalRate)) {
            grossAmountElement.value = '';
            return;
        }

        const grossAmount = calculateGrossAmount(totalHours, rentalRate);
        grossAmountElement.value = grossAmount.toFixed(2);
        }

        function calculateGrossAmount(totalHours, rentalRate) {
        return totalHours * rentalRate;
        }
    </script>


    <!-- This is for  computation of Vat Output  and Net of Vat-->
    <script type="text/javascript">
        const grossAmountInput = document.getElementById('grossAmountTransaction');
        const taxRateElement = document.getElementById('taxRateTransaction');
        const vatOutputElement = document.getElementById('vatOutputRentalTrans');
        

        grossAmountInput.addEventListener('input', updateVatAmount);
        taxRateElement.addEventListener('input', updateVatAmount);
        grossAmountInput.addEventListener('input', updateVatAmount);

        function updateVatAmount() {
        const totalgross = Number(grossAmountInput.value);
        const taxRate = Number(taxRateElement.value);
        const vatOutputCal = Number(vatOutputElement.value);

        if (isNaN(totalgross) || isNaN(taxRate)) {
            vatOutputElement.value = '';
            return;
        }

        const vatOutput = calculateVatOutput(totalgross, taxRate);
        vatOutputElement.value = vatOutput.toFixed(2);

      

        
        }

    
        function calculateVatOutput(totalgross, taxRate) {
        return (totalgross/1.12) * taxRate;
        }


       
    </script>


    <!-- This is for  computation of Net of Vat  and Net of Vat-->
    <script type="text/javascript">
        
            document.getElementById('totalHoursRentalTrans').addEventListener('input',
            function(e){
                var totalHours = e.target.value;
                var rentalRate = document.getElementById('rentalRateTransaction').value;
                var TotalNetofVat;
                var netOfVat3;
                var totalGross;
                totalGross = parseFloat(totalHours) * parseFloat(rentalRate)
                netOfVat3 = parseFloat(totalGross)/1.12;
                document.getElementById('netOfVAtRentalTrans').value=netOfVat3.toFixed(2);

            }
            );
    
    </script>

    <!-- This function is for updating Rental Transactions -->
        <script type="text/javascript">
                function update_rentalData() {
                var data = {};
                var id = document.getElementById("transID").value;
                data["transDate"] = document.getElementById("transactionDateRentTrans").value;
                data["equipmentId"] = document.getElementById("equipmentId").value;
                data["totalHours"] = document.getElementById("totalHoursRentalTrans").value;
                data["rentalRate"] = document.getElementById("rentalRateTransaction").value;
                data["totalAmount"] = document.getElementById("grossAmountTransaction").value;
                data["taxRate"] = document.getElementById("taxRateTransaction").value;
                data["vat_output"] = document.getElementById("vatOutputRentalTrans").value;
                data["net_of_vat"] = document.getElementById("netOfVAtRentalTrans").value;
                data["driverOperator"] = document.getElementById("driverOperatorRentaltrans").value;
                


                console.log(data);

                if (id === '') {
                        window.alert("Trans ID field is requires");
                } else {
                        // Use async/await to simplify the fetch call
                        (async () => {
                        try {
                                // Use template literals to build the URL
                                if (confirm('Are you sure you want to update this rental transaction?')){
                                        const response = await fetch("/api-update-tvi-rental-sqlModel/"+ id, {
                                        method: "PUT",
                                        headers: { "Content-Type": "application/json" },
                                        body: JSON.stringify(data)
                                        });

                                        // Use response.ok to check if the response was successful
                                        if (response.ok) {
                                        window.alert("Your Data has been Updated");
                                        window.location.assign("/tvi-transaction/");
                                        console.log(await response.json());
                                        } else if (response.status === 401) {
                                        window.alert("Unauthorized credential Please Login");
                                        }

                                } else {
                                        throw new Error('Failed to delete data');
                                        }
                               
                        } catch (error) {
                                // Catch errors
                                window.alert(error);
                                console.log(error);
                        }
                        })();
                }
                }
        </script>


    


</body>

{% endblock %}