{% extends 'index.html' %}

{% block content %}
<style>
    #div1 {
            width: 70%; /* Set the width of the div element */
            margin: auto; /* Center the div */
            border-width: 1px;
            border-style: solid;
            border-color: lightgray;
            background-color: whitesmoke;
           
    }

    #div2 {
            width: 70%; /* Set the width of the div element */
            margin: auto; /* Center the div */
            border-width: 2px;
            
            display: flex; /* Use flexbox to align the input fields horizontally */
    }

    #div3 {
            width: 70%; /* Set the width of the div element */
            margin: auto; /* Center the div */
            border-width: 2px;
            
            display: flex; /* Use flexbox to align the input fields horizontally */
    }

    #div4 {
            width: 70%; /* Set the width of the div element */
            margin: auto; /* Center the div */
            border-width: 2px;
            
            display: flex; /* Use flexbox to align the input fields horizontally */
    }

    .input-box {
        flex: 1; /* Divide the available space evenly between the input fields */
        margin: 0 5px; /* Add some margin between the input fields */
        border-radius: 20px; /* round the corners of the input field */
        border: 2px solid lightskyblue;
        padding: 10px;
        background-color: whitesmoke;
    }

    .gender {
        flex: 1; /* Divide the available space evenly between the input fields */
        margin: 0 5px; /* Add some margin between the input fields */
        border-radius: 20px; /* round the corners of the input field */
        border: 2px solid lightskyblue;
        padding: 10px;
        background-color: whitesmoke;
    }

    .add_button {
        border-radius: 20px 50px;
        width: 100px;
        height: 50px;
        }
</style>

<body>
    <div class="container mt-4" id="div1">
        <div  class="container mt-4" id="div2">
            <input 
                type="text" hidden
                name="transID"
                id="transID"
               
                class="input-box"
                
                >
            </input>
            <input 
                type="text"
                name="employeeIDSearch"
                id="employeeIDSearch"
                placeholder="Employee ID"
                class="input-box"
                
                >
            </input>

            <button type="submit" onclick="dislayEmployeeData()"  class="btn btn-warning">
                <i class="fas fa-database"> 
            </i>Search</button>


        </div>
        <div class="container mt-4" id="div2">
            <label >Employee ID</label><br>
            <input 
                type="text"
                name="employeeID"
                id="employeeID"
                class="input-box"
                >
            </input>
    
            <label >Last Name</label><br>
            <input 
                type="text"
                name="lastName"
                id="lastName"
                class="input-box"
                >
            </input>
    

        </div>
       
        <div class="container mt-4" id="div3">
            <label >First Name</label><br>
            <input 
                type="text"
                name="firstName"
                id="firstName"
                class="input-box"
                >
            </input>

            <label >Middle Name</label><br>
            <input 
                type="text"
                name="middleName"
                id="middleName"
                class="input-box"
                >
            </input>
        </div>


        <div class="container mt-4" id="div4">
            <label >Gender  </label><br>
            <select name="trasactionType" id="gender"class="gender"
                        
                    >
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                       
    
                    
            </select>

           
        </div>

        <div class="container mt-4" id="div4">
            <label >Address</label><br>
            <textarea
                type="input"
                name="address" cols="35" rows="3"
                id="address" 
                class="gender"
                >
            </textarea>
    

           
        </div>


        <div class="container mt-4" id="div4">
            <label >Contact No.</label><br>
            <input 
                type="text"
                name="contactNum"
                id="contactNum"
                class="input-box"
                >
            </input>

            <label >Contact Person</label><br>
            <input 
                type="text"
                name="conPerson"
                id="conPerson"
                class="input-box"
                >
            </input>
        </div>

        <div class="container mt-4" id="div4">
            <label >Emergency-Contact</label><br>
            <input 
                type="text"
                name="emerCon"
                id="emerCon"
                class="input-box"
                >
            </input>

            <label >Position</label><br>
            <input 
                type="text"
                name="position"
                id="position"
                class="input-box"
                >
            </input>
        </div>


        <div class="container mt-4" id="div4">
            <label >Date Hire</label><br>
            <input 
                type="date"
                name="dateHire"
                id="dateHire"
                class="input-box"
                >
            </input>

            <label >Department</label><br>
            <select name="trasactionType" id="department"class="gender"
                        
                    >
                    <option value="Head Office">Head Office</option>
                    <option value="Admin-Site">Admin-Site</option>
                    <option value="Pampanga">Pampanga</option>
                    <option value="Rizal-R&F">Rizal-R&F</option>
                    <option value="Surigao">Surigao</option>
                    <option value="Zamboanga">Zamboanga</option>
                    <option value="Bayug">Bayug</option>
                    
                       
            </select>
        </div>


        <div class="container mt-4" id="div4">
            <label >EOC</label><br>
            <input 
                type="date"
                name="endofContract"
                id="endofContract"
                class="input-box"
                >
            </input>

            <label >TIN</label>
            <input 
            type="text"
            name="tin"
            id="tin"
            class="input-box"
            >
            </input>
           
        </div>

        <div class="container mt-4" id="div4">
            <label >SSS</label><br>
            <input 
                type="text"
                name="sss"
                id="sss"
                class="input-box"
                >
            </input>

            <label >PHIC</label>
            <input 
            type="text"
            name="phic"
            id="phic"
            class="input-box"
            >
            </input>
           
        </div>

        <div class="container mt-4" id="div4">
            <label >HDMF</label><br>
            <input 
                type="text"
                name="hdmf"
                id="hdmf"
                class="input-box"
                >
            </input>

            <label >Emp-Status</label>
            <select name="trasactionType" id="empStatus"class="gender"
                        
            >
                <option value="Employeed">Employeed</option>
                <option value="Resigned">Resigned</option>
                <option value="Terminated">Terminated</option>
               
               
            </select>
        </div>


        <div class="container mt-4" id="div4">
            <label >Salary Rate</label><br>
            <input 
                type="number"
                name="salaryRate"
                id="salaryRate"
                class="input-box"
                step="0.01"
                >
            </input>

            <label >Emp-Status</label>
            <select name="taxcode" id="taxcode"class="gender"
                        
            >
                <option value="Taxable">Taxable</option>
                <option value="MWE">MWE</option>
                 
            </select>
        </div>
            <div class="container mt-4" id="div4">
                <label >ON-OFF</label>
                <select name="on_offDetail" id="on_offDetail"class="gender"
                            
                >
                    <option value="on">on</option>
                    <option value="off">off</option>
                    
                </select>

                <label >Salary Details</label>
                <select name="salaryDetails" id="salaryDetails"class="gender"
                            
                >
                    <option value="Monthly">Monthly</option>
                    <option value="Daily">Daily</option>
                    
                </select>

            </div>

        <div class="container mt-4" >
            <button type="button"  id="add_button" class="btn btn-primary"><i class="btn-oblong">
            </i>Save</button>

            <button type="submit" onclick="updateEmployee()" class="btn btn-success">
            <i class="fas fa-database"> 
            </i>Update</button>
        </div>




        

       
    </div>

    <!-- This is for displaying employee  using ID -->
    <script type="text/javascript">


        // equipmentID = document.getElementById('equipmentIdRent').value;
        async function dislayEmployeeData() {
        try {
            employeeID = document.getElementById('employeeIDSearch').value;
            // Construct the API URL using a template string
            const searchUrl = `/api-employee-registration/?employee_id=${employeeID}`;

            // Call the API using the fetch API
            const responce = await fetch(searchUrl);
            const data = await responce.json();
            console.log(data)
            // Check if the API call was successful
            if (!responce.ok) {
            window.alert("Unauthorized Please Login");
            }

            // Check if any data was returned
            if (data.length === 0) {
            window.alert(`No ID store for ${employeeID}`);
            } else {
            // Get the data for the equipment
            const transID = data[0].id;
            const employeeID = data[0].employee_id;
            const lastName = data[0].lastName;
            const firstName = data[0].firstName;
            const middleName = data[0].middleName;
            const gender = data[0].gender;
            const address_employee = data[0].address_employee;
            const contactNumber = data[0].contactNumber;
            const contact_person = data[0].contact_person;
            const emer_cont_person = data[0].emer_cont_person;
            const position = data[0].position;
            const date_hired = data[0].date_hired;
            const department = data[0].department;
            const eoc = data[0].end_contract;
            const tin = data[0].tin;
            const sssNumber = data[0].sssNumber;
            const phicNumber = data[0].phicNumber;
            const hdmfNumber = data[0].hdmfNumber;
            const employment_status = data[0].employment_status;
            const update_contract = data[0].update_contract;
            const salary_rate = data[0].salary_rate;
            const taxCode = data[0].taxCode;
            const Salary_Detail = data[0].Salary_Detail;
            const off_on_details = data[0].off_on_details;

            // Update the input fields with the equipment data

            
            document.getElementById("transID").value = transID;
            document.getElementById("employeeID").value = employeeID;
            document.getElementById("lastName").value = lastName;
            document.getElementById("firstName").value = firstName;
            document.getElementById("middleName").value = middleName;
            document.getElementById("gender").value = gender;
            document.getElementById("address").value = address_employee;
            document.getElementById("contactNum").value = contactNumber;
            document.getElementById("conPerson").value = contact_person;
            document.getElementById("emerCon").value = emer_cont_person;
            document.getElementById("position").value = position;
            document.getElementById("dateHire").value = date_hired;
            document.getElementById("department").value = department;

            document.getElementById("endofContract").value = eoc;
            document.getElementById("tin").value = tin;
            document.getElementById("sss").value = sssNumber;
            document.getElementById("phic").value = phicNumber;
            document.getElementById("hdmf").value = hdmfNumber;
            document.getElementById("empStatus").value = employment_status;
            document.getElementById("salaryRate").value = salary_rate;
            document.getElementById("taxcode").value = taxCode;
            document.getElementById("on_offDetail").value = off_on_details;
            document.getElementById("salaryDetails").value = Salary_Detail;
          


            }
        } catch (error) {
            // Handle any errors that occurred in the fetch call
            console.error(error);
            window.alert("Error occurred while fetching data");
        }
        }

    </script>

    <script type="text/javascript">
         function updateEmployee() {
                var data = {};
                id = document.getElementById('transID').value;
                

               
                data["lastName"] = document.getElementById("lastName").value;
                data["firstName"] = document.getElementById("firstName").value;
                data["middleName"] = document.getElementById("middleName").value;
                data["gender"] = document.getElementById("gender").value;
                data["address_employee"] = document.getElementById("address").value;
                data["contactNumber"] = document.getElementById("contactNum").value;
                data["contact_person"] = document.getElementById("conPerson").value;
                data["emer_cont_person"] = document.getElementById("emerCon").value;
                data["position"] = document.getElementById("position").value;
                data["date_hired"] = document.getElementById("dateHire").value;
                data["department"] = document.getElementById("department").value;
                
                data["end_contract"] = document.getElementById("endofContract").value;
                data["tin"] = document.getElementById("tin").value;
                data["sssNumber"] = document.getElementById("sss").value;
                data["phicNumber"] = document.getElementById("phic").value;
                data["hdmfNumber"] = document.getElementById("hdmf").value;
                data["employment_status"] = document.getElementById("empStatus").value;
                data["salary_rate"] = document.getElementById("salaryRate").value;
                data["taxCode"] = document.getElementById("taxcode").value;
                data["off_on_details"] = document.getElementById("on_offDetail").value;
                data["Salary_Detail"] = document.getElementById("salaryDetails").value ;



                console.log(data);

                if (id === '') {
                        window.alert("Employee ID field is requires");
                } else {
                        // Use async/await to simplify the fetch call
                        (async () => {
                        try {
                                // Use template literals to build the URL
                                if (confirm('Are you sure you want to update this rental transaction?')){
                                        const response = await fetch("/api-update-employee/"+ id, {
                                        method: "PUT",
                                        headers: { "Content-Type": "application/json" },
                                        body: JSON.stringify(data)
                                        });

                                        // Use response.ok to check if the response was successful
                                        if (response.ok) {
                                        window.alert("Your Data has been Updated");
                                        window.location.assign("/index");
                                        console.log(await response.json());
                                        } else if (response.status === 401) {
                                        window.alert("Unauthorized credential Please Login");
                                        }

                                } else {
                                        throw new Error('Failed to update data');
                                        }
                               
                        } catch (error) {
                                // Catch errors
                                window.alert(error);
                                console.log(error);
                        }
                        })();
                }
                }


    </script>

</body>

{% endblock %}