{% extends 'index.html' %}



{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<style>
    .custom-border {
        border: 1px solid black;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        width: 20%;
        height: auto;
      
    }

    .transButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .oblong-input {
        flex: 1; /* Divide the available space evenly between the input fields */
        margin: 0 5px; /* Add some margin between the input fields */
        border-radius: 20px; /* round the corners of the input field */
        border: 2px solid lightskyblue;
        padding: 10px;
        background-color: whitesmoke;
    };

    #main-section {
    display: flex;
    
    }

    #main-section > div {
    flex-grow: 1;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    }

    #main-section > div:not(:first-child) {
    display: none;
    }

    #main-section #active-account-frame {
    display: block;
    /* Add any other desired styles for the Active Accounts frame */
    }

    .input-box {
        flex: 1; /* Divide the available space evenly between the input fields */
        margin: 0 5px; /* Add some margin between the input fields */
        border-radius: 20px; /* round the corners of the input field */
        border: 2px solid lightskyblue;
        padding: 10px;
        background-color: whitesmoke;
        width: 35%;
    }

    .container {
        margin-top: 50px; /* Adjust the value to increase or decrease the margin */
    }

    td {
        padding: 8px; /* add padding to table cells */
        text-align: center; /* set text alignment to left */
        border-bottom: 1px solid #ddd; /* add bottom border to cells */
        font-size: 15px;
        
    }

</style>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3 custom-border">
                <div class="transButton">
                    
                  
                  <button type="button"  data-frame="inventory-list"  class="btn btn-link">Inventory List</button>
                  <button type="button"  data-frame="insert-inventory"  class="btn btn-link">Add Inventory Item</button>
                  <button type="button"  data-frame="update-inventory"  class="btn btn-link">Update Inventory</button>
                  <button type="button"  data-frame="insert-inventory-transactions"  class="btn btn-link">Inventory Transaction</button>
                  <button type="button"  data-frame="inventory-transaction-list"  class="btn btn-link">Inventory Transaction List</button>
                  <button type="button"   onclick="window.location.href='/grc-payroll-transaction/'"  class="btn btn-link">Payroll Adan</button>
                  
                </div>
            </div>

            <div class="col-md-9">
                <main id="main-section">
                    <!-- this is for inserting inventory items -->
                    <div id="insert-inventory" style="display: none;">
                    
                        <h1>Add Inventory Item</h1>
                            <div class="row g-2">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="item_name">
                                        <label for="floatingInputGrid" style="font-size: 19px;">Item Name</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="description">
                                        <label for="floatingInputGrid" style="font-size: 19px;">Discription</label>
                                    </div>

                                </div>
                                
                                
                            </div>
                            <br>

                            <div class="row g-2">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <select class="form-select" id="category" aria-label="Floating label select example">
                                            <option selected>Open this select menu</option>
                                            <option value="MECHANICAL SUPPLIES">MECHANICAL SUPPLIES</option>
                                            <option value="OIL & LUBES">OIL & LUBES</option>
                                            <option value="REPAIR AND MAINTENANCE">REPAIR AND MAINTENANCE</option>
                                            <option value="TIRES">TIRES</option>
                                            <option value="TOOLS">TOOLS</option>
                                           
                                          </select>
                                        <label for="floatingInputGrid" style="font-size: 19px;">Category</label>
                                    </div>

                                    

                                </div>

                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="uom">
                                        <label for="floatingInputGrid" style="font-size: 19px;">UOM</label>
                                    </div>

                                </div>



                            </div>

                            <br>

                            <div class="row g-2">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="supplier">
                                        <label for="floatingTextarea">Supplier</label>
                                    </div>
                                </div>

                                <div class="col-md">
                                    <div class="form-floating">
                                    
                                        <input type="number" class="form-control" id="price">
                                        <label for="floatingInputGrid" style="font-size: 19px;" >Price</label>
                                    </div>

                                </div>

                               

                            </div>
                            <br>

                            <div class="row g-2">
                                <div class="col-md">
                                    <div class="form-floating">
                                    
                                        <input type="number" class="form-control" id="quantity_in_stock">
                                        <label for="floatingInputGrid" style="font-size: 19px;" >Quantity in Stock</label>
                                    </div>

                                </div>

                                <div class="col-md">
                                    <div class="form-floating">
                                    
                                        <input type="number" class="form-control" id="minimum_stock_level">
                                        <label for="floatingInputGrid" style="font-size: 19px;" >Minimum Stock level</label>
                                    </div>

                                </div>

                            </div>

                                <br>

                            <div class="row g-2">
                                <div class="col-md">
                                    <div class="form-floating">
                                    
                                        <input type="text" class="form-control" id="location">
                                        <label for="floatingInputGrid" style="font-size: 19px;" >Location</label>
                                    </div>

                                </div>

                                <div class="col-md">
                                    <div class="form-floating">
                                    
                                        <select class="form-select" id="tax_code" aria-label="Floating label select example">
                                            <option selected>Open this select menu</option>
                                            <option value="VAT">VAT</option>
                                            <option value="NON-VAT">NON-VAT</option>
                                           
                                           
                                          </select>
                                        <label for="floatingInputGrid" style="font-size: 19px;" >Tax Code</label>
                                    </div>

                                </div>

                               

                            </div>

                            <br>
    
                            

                                <button type="button" id="Btn_Save_inventory"   class="btn btn-success">Save</button>
                            

                    </div>

<!-- =============================This function is for Inventory List======================================= -->
                  <div id="inventory-list" style="display: none;">
                    <!-- Account List Content -->
                    <h1>Inventory List</h1>

                      <div class="container mt-3">
                            
                       
                          <label for="Search"
                          >Equipment ID</label>
                          
                              <input 
                              type="text"
                              name="inventory_search"
                              id="inventory_search"
                              class="form-control"
                              >


                                                       
                        
                      </div>

                      <div  class="container mt-3 table-responsive">
                          <table id="myTableTons" class="table table-bordered"  style="text-align: center;">
                              <thead class="table-dark">
                                  <tr>
                                      
                                      <td>Item Name</td>
                                      <td>Description</td>
                                      <td>Category</td>
                                      <td>UOM</td>
                                      <td>Supplier</td>
                                      <td>Price</td>
                                      <td>Quantity</td>
                                      <td>Stock Level</td>
                                      <td>Location</td>
                                      <td>Tax Code</td>
                                    
                                      
                                  </tr>
                              </thead>
                              <tbody id="table_body_inventory">
                              
                                      
                                      <tr >
                                          <td style="font-size: smaller"></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                         
                                          
                                      </tr>
                                  
                                  
                              </tbody>

                          

                          </table>

                          <br>

                          

                          
                              
                              
                      </div>
                  </div>


                <!-- this is for updating inventory items -->
                <div id="update-inventory" style="display: none;">
                                    
                    <h1>Update Inventory Item</h1>
                    <input type="text" hidden  class="form-control" id="item_id">
                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="item_name_update">
                                    <label for="floatingInputGrid" style="font-size: 19px;">Item Name</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="description_update">
                                    <label for="floatingInputGrid" style="font-size: 19px;">Discription</label>
                                </div>

                            </div>
                            
                            
                        </div>
                        <br>

                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <select class="form-select" id="category_update" aria-label="Floating label select example">
                                        <option selected>Open this select menu</option>
                                        <option value="MECHANICAL SUPPLIES">MECHANICAL SUPPLIES</option>
                                        <option value="OIL & LUBES">OIL & LUBES</option>
                                        <option value="REPAIR AND MAINTENANCE">REPAIR AND MAINTENANCE</option>
                                        <option value="TIRES">TIRES</option>
                                        <option value="TOOLS">TOOLS</option>
                                    
                                    </select>
                                    <label for="floatingInputGrid" style="font-size: 19px;">Category</label>
                                </div>

                                

                            </div>

                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="uom_update">
                                    <label for="floatingInputGrid" style="font-size: 19px;">UOM</label>
                                </div>

                            </div>



                        </div>

                        <br>

                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="supplier_update">
                                    <label for="floatingTextarea">Supplier</label>
                                </div>
                            </div>

                            <div class="col-md">
                                <div class="form-floating">
                                
                                    <input type="number" class="form-control" id="price_update">
                                    <label for="floatingInputGrid" style="font-size: 19px;" >Price</label>
                                </div>

                            </div>

                        

                        </div>
                        <br>

                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                
                                    <input type="number" class="form-control" id="quantity_in_stock_update">
                                    <label for="floatingInputGrid" style="font-size: 19px;" >Quantity in Stock</label>
                                </div>

                            </div>

                            <div class="col-md">
                                <div class="form-floating">
                                
                                    <input type="number" class="form-control" id="minimum_stock_level_update">
                                    <label for="floatingInputGrid" style="font-size: 19px;" >Minimum Stock level</label>
                                </div>

                            </div>

                        </div>

                            <br>

                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                
                                    <input type="text" class="form-control" id="location_update">
                                    <label for="floatingInputGrid" style="font-size: 19px;" >Location</label>
                                </div>

                            </div>

                            <div class="col-md">
                                <div class="form-floating">
                                
                                    <select class="form-select" id="tax_code_update" aria-label="Floating label select example">
                                        <option selected>Open this select menu</option>
                                        <option value="VAT">VAT</option>
                                        <option value="NON-VAT">NON-VAT</option>
                                    
                                    
                                    </select>
                                    <label for="floatingInputGrid" style="font-size: 19px;" >Tax Code</label>
                                </div>

                            </div>

                        

                        </div>

                        <br>

                        

                            <button type="button" id="Btn_update_inventory"   class="btn btn-success">Update</button>
                        

                </div>

<!--================================ this is for inserting  inventory Transactions ===========================-->
            <div id="insert-inventory-transactions" style="display: none;">
                                                
                <h1>Insert Inventory Transaction</h1>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text"   class="form-control" id="inventory_transaction_name">
                            <label for="floatingInputGrid" style="font-size: 19px;">Inventory ID</label>
                        </div>

                    </div>

                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" hidden   class="form-control" id="inventory_item_id">
                            
                        </div>

                    </div>
                    
                </div>
                
                
                <br>
               
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="transaction_type" aria-label="Floating label select example">
                                    <option selected>Open this select menu</option>
                                    <option value="Purchases">Purchases</option>
                                    <option value="Withdrawal">Withdrawal</option>
                                    <option value="Return">Return</option>
                                    
                                
                                </select>
                                <label for="floatingInputGrid" style="font-size: 19px;">Transacion Type</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating">
                                <input type="date" class="form-control" id="transaction_date">
                                <label for="floatingInputGrid" style="font-size: 19px;">Date</label>
                            </div>

                        </div>
                        
                        
                    </div>
                    <br>

                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="quantity">
                                <label for="floatingInputGrid" style="font-size: 19px;">Quantity</label>
                            </div>

                            

                        </div>

                        <div class="col-md">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="unit_price">
                                <label for="floatingInputGrid" style="font-size: 19px;">Unit Price</label>
                            </div>

                        </div>



                    </div>

                    <br>

                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="total_price">
                                <label for="floatingTextarea">Total Price</label>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="form-floating">
                                <input type="number" hidden class="form-control" id="total_price2">
                                
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="form-floating">
                            
                                <input type="number" class="form-control" id="mrs_no">
                                <label for="floatingInputGrid" style="font-size: 19px;" >MRS no.</label>
                            </div>

                        </div>

                    

                    </div>
                    <br>

                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                            
                                <input type="number" class="form-control" id="si_no_or_withslip_no">
                                <label for="floatingInputGrid" style="font-size: 19px;" >SI/Withdrawal Slip</label>
                            </div>

                        </div>

                        <div class="col-md">
                            <div class="form-floating">
                            
                                <input type="text" class="form-control" id="end_user">
                                <label for="floatingInputGrid" style="font-size: 19px;" >End User</label>
                            </div>

                        </div>

                    </div>

                        <br>

                    
                    

                        <button type="button" id="Btn_save_inventory_transactions"   class="btn btn-success">Save</button>
                    

            </div>


<!-- =============================This function is for Inventory Transaction List======================================= -->
                <div id="inventory-transaction-list" style="display: none;">
                    <!-- Account List Content -->
                    <h1>Inventory List</h1>

                    <div class="container mt-3">
                            
                    
                        <label for="Search"
                        >Equipment ID</label>
                        
                            <input 
                            type="text"
                            name="inventory_search"
                            id="inventory_search"
                            class="form-control"
                            >


                                                    
                        
                    </div>

                    <div  class="container mt-3 table-responsive">
                        <table id="myTableTons" class="table table-bordered"  style="text-align: center;">
                            <thead class="table-dark">
                                <tr>
                                    
                                    <td>Item Name</td>
                                    <td>Description</td>
                                    <td>Category</td>
                                    <td>UOM</td>
                                    <td>Supplier</td>
                                    <td>Price</td>
                                    <td>Quantity</td>
                                    <td>Stock Level</td>
                                    <td>Location</td>
                                    <td>Tax Code</td>
                                    
                                    
                                </tr>
                            </thead>
                            <tbody id="table_body_inventory">
                            
                                    
                                    <tr >
                                        <td style="font-size: smaller"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        
                                        
                                    </tr>
                                
                                
                            </tbody>

                        

                        </table>

                        <br>

                        

                        
                            
                            
                    </div>
                </div>




                </main>
            </div>

        </div>

    </div>



</body>

<script>

    document.addEventListener("DOMContentLoaded", function() {
        const buttons = document.querySelectorAll("[data-frame]");
        const mainSection = document.getElementById("main-section");

        buttons.forEach(function(button) {
        button.addEventListener("click", function() {
            const frameId = button.getAttribute("data-frame");
            const frames = document.querySelectorAll("#main-section > div");

            frames.forEach(function(frame) {
            frame.style.display = frame.id === frameId ? "block" : "none";
            });
        });
        });
    });

</script>

<script src="/static/inventory/inventory_transaction.js"></script>


{% endblock %}