{% extends 'index.html' %}

{% block content %}
<style>
     #div1 {
            width: 40%; /* Set the width of the div element */
            margin: auto; /* Center the div */
            border-width: 1px;
            border-style: solid;
            border-color: lightgray;
            background-color: gray;
           
    }

    .input-box {
        flex: 1; /* Divide the available space evenly between the input fields */
        margin: 0 5px; /* Add some margin between the input fields */
        border-radius: 20px; /* round the corners of the input field */
        border: 2px solid lightskyblue;
        padding: 10px;
        background-color: whitesmoke;
    }
</style>
<body>
    <div class="container mt-4" id="div1">
        <label style="color:yellow;">
            Date
        </label>
        <input 
            type="date" 
            name="transID"
            id="transID"
            
            class="form-control"
            
            >

        <label style="color:yellow;">
            Equipment ID
            </label>
            <input 
                type="text" 
                name="equipmentID"
                id="equipmentID"
                
                class="form-control"
                
                >

    </div>

</body>


{% endblock %}