{% extends 'index.html' %}

{% block content %}
<style>
     #div1 {
            width: 40%; /* Set the width of the div element */
            margin: auto; /* Center the div */
            border-width: 1px;
            border-style: solid;
            border-color: lightgray;
            background-color: gray;
           
    }

    #div3 {
           
            margin: auto; /* Center the div */
            border-width: 1px;
            border-style: solid;
            border-color: lightgray;
            background-color: lightskyblue;
            text-align: center;
           
    }

    .input-box {
        flex: 1; /* Divide the available space evenly between the input fields */
        margin: 0 5px; /* Add some margin between the input fields */
        border-radius: 20px; /* round the corners of the input field */
        border: 2px solid lightskyblue;
        padding: 10px;
        background-color: whitesmoke;
    }
</style>
<body>
    <div class="container mt-4" id="div1">
        {% for list in tonnageData%}
            <input 
            type="text" hidden
            name="transID"
            id="transID"
            value="{{list.id}}"
            class="form-control"
            
            >
            <label style="color:yellow;">
                Date
            </label>
            <input 
                type="date" 
                name="transDate"
                id="transDate"
                value="{{list.transDate}}"
                class="form-control"
                
                >

            <label style="color:yellow;">
                Equipment ID
                </label>
                <input 
                    type="text" 
                    name="equipmentID"
                    id="equipmentID"
                    value="{{list.equipment_id}}"
                    class="form-control"
                    
                >

            <label style="color:yellow;">
                Trip Ticket
                </label>
                <input 
                    type="text" 
                    name="tripTicket"
                    id="tripTicket"
                    value="{{list.tripTicket}}"
                    class="form-control"
                    
                >

            <label style="color:yellow;">
                Total Trip
                </label>
                <input 
                    type="number" 
                    name="totalTrip"
                    id="totalTrip"
                    step="0.0"
                    value="{{list.totalTrip}}"
                    class="form-control"
                    
                >


            <label style="color:yellow;">
                Total Tonnage
                </label>
                <input 
                    type="number" 
                    name="totalTons"
                    id="totalTons"
                    step="0.0"
                    value="{{list.totalTonnage}}"
                    class="form-control"
                    
                >

            <label style="color:yellow;">
                Rate
                </label>
                <input 
                    type="number" 
                    name="rate"
                    id="rate"
                    step="0.0"
                    value="{{list.rate}}"
                    class="form-control"
                    
                >

            <label style="color:yellow;">
                Amount
                </label>
                <input 
                    type="number" 
                    name="amount"
                    id="amount"
                    step="0.0"
                    value="{{list.amount}}"
                    class="form-control"
                    
                >

            <label style="color:yellow;">
                Driver/Operator
                </label>
                <input 
                    type="text" 
                    name="driver_operator"
                    id="driver_operator"
                    value="{{list.driverOperator}}"
                    class="form-control"
                    
                ><br>
        {% endfor %}
            <button type="submit" onclick="updateTonnageHaul()" class="btn btn-info">
            <i class="fas fa-database"></i>Update</button>


    </div>

            <script type="text/javascript">
                function updateTonnageHaul() {
                    var data = {};
                    id = document.getElementById('transID').value;
                    

                    
                    data["transDate"] = document.getElementById("transDate").value;
                    data["equipment_id"] = document.getElementById("equipmentID").value;
                    data["tripTicket"] = document.getElementById("tripTicket").value;
                    data["totalTrip"] = document.getElementById("totalTrip").value;
                    data["totalTonnage"] = document.getElementById("totalTons").value;
                    data["rate"] = document.getElementById("rate").value;
                    data["amount"] = document.getElementById("amount").value;
                    data["driverOperator"] = document.getElementById("driver_operator").value;
                    



                    console.log(data);

                    if (id === '') {
                            window.alert("Employee ID field is requires");
                    } else {
                            // Use async/await to simplify the fetch call
                            (async () => {
                            try {
                                    // Use template literals to build the URL
                                    if (confirm('Are you sure you want to update this rental transaction?')){
                                            const response = await fetch("/api-update-tonnageHaul/"+ id, {
                                            method: "PUT",
                                            headers: { "Content-Type": "application/json" },
                                            body: JSON.stringify(data)
                                            });

                                            // Use response.ok to check if the response was successful
                                            if (response.ok) {
                                            window.alert("Your Data has been Updated");
                                            window.location.assign("/index");
                                            console.log(await response.json());
                                            } else if (response.status === 401) {
                                            window.alert("Unauthorized credential Please Login");
                                            }

                                    } else {
                                            throw new Error('Failed to update data');
                                            }
                                    
                            } catch (error) {
                                    // Catch errors
                                    window.alert(error);
                                    console.log(error);
                            }
                            })();
                    }
                    }


        </script>

   

        <!-- This function is for autocomplete of Eqipment -->
        <script>

            $( function() {
                
                $( "#equipmentID" ).autocomplete({
                source: "/api-search-autocomplete-equipment-rizal/"
                });
            } );


        </script>


        <script>

            $( function() {
                
                $( "#equipmentIDSearch" ).autocomplete({
                source: "/api-search-autocomplete-equipment-rizal/"
                });
            } );


        </script>

        <script type="text/javascript">
            const rateInput = document.getElementById("rate");
            const totalTonsInput = document.getElementById("totalTons");
            const amountInput = document.getElementById("amount");
            
            function calculateTotalAmount(rate, totalTons) {
                return parseFloat(totalTons) * parseFloat(rate);
            }
            
            rateInput.addEventListener("input", function(event) {
                const rate = event.target.value;
                const totalTons = totalTonsInput.value;
                
                if (isNaN(rate) || isNaN(totalTons)) {
                return;
                }
                
                const totalAmount = calculateTotalAmount(rate, totalTons);
                amountInput.value = totalAmount.toFixed(2);
            });
           

        </script>

</body>


{% endblock %}