

{% extends 'index.html' %}



{% block content %}


<body>
    <div class="container">
        <form method="post" >
            <div class="container mt-3">
                <div class="container mt-3">
                    {% for i in messeges %}
                    <div class="alert alert-danger" role="alert">
                        {{ i }}
                        </div>
                    {% endfor %}
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                     Add Chart of Account
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Chart of Accounts</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
    
                        
                        <div class="modal-body">
                            
                        
                            <label for="Account Number"
                            >Account Number</label>
                            
                            <input 
                            type="text"
                            name="account_number"
                            id="account_number"
                            
                            class="form-control"
                            >
    
                            <label for="Account Title"
                            >Account Title</label>
                            
                            <input 
                            type="text"
                            name="account_title"
                            id="account_title"
                            
                            class="form-control"
                            >

                            <label for="Balance Sheet Class"
                            >Balance Sheet Type</label>
                            
                            <select name="bstype" id="bstype" class="filter-selectbox">
                                {% for result in all_bstype %}
                                    <option value="{{ result.bstype}}">{{ result.bstype}}</option>
                                {% endfor %} 
                            
                            </select><br><br>
                            
                            
                           
                            
                        
                        
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                        <!-- <button type="button" name ="save_button" id="save_button" class="btn btn-success">Save</button> -->
                        </div>
                    </div>
                    </div>
                </div>
    
                <div class="container mt-3">
                    <table id="myTable" class="table table-bordered"  style="text-align: center;">
                        <thead class="border-bottom font-weight-bold">
                        
                                <td>Series No.</td>
                                <td>Account No</td>
                                <td>Account Title</td>
                                <td>Balance Sheet Type</td>
                                <td>Action</td>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for list in all_chart_of_account%}
                
                                <tr>
                                    
                                    <td>{{loop.index}}</td>
                                    <td>{{list.accountNum}}</td>
                                    <td>{{list.accountTitle}}</td>
                                    <td>{{list.bsClass}}</td>
                                    
                                   
                                    
                                    <td>
                                        <a href="/update-chart-of-account/{{list.id}}"
                                        <button type="button" class="btn btn-primary">
                                        <i class="fas fa-database"></i> Edit</button></a>
                                    </td>
        
                                    
        
                                    
                                </tr>
                               
                            {% endfor %}
                        </tbody>
                    </table>
    
                </div>
    
    
                
            </div>
    

    </div>
    
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>


        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-html5-2.2.3/b-print-2.2.3/datatables.min.js"></script>


        <!-- <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.11.5/api/sum().js"></script> -->

       <!-- This is for jquery Date picker -->

       
       

        <script>
             $(document).ready(function () {
                $('#myTable').DataTable();
            });
        </script>



        

        <!-- This is for computation of Age -->

        <!-- <script>
            $(function() {
            $("#nu_datebirth").datepicker({
            onSelect: function(value, ui) {
                var today = new Date(),
                    age = today.getFullYear() - ui.selectedYear;
                $('#a_ge').val(age);
            },
                
            dateFormat: 'mm-dd-yy',changeMonth: true,changeYear: true,yearRange:"c-100:c+0"
            });
                
        });

            

        </script> -->

   

   
    <!-- <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script> -->


    

    </form> 
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

    <script>

        $("#save_button").click(function(e) {
            e.preventDefault()
                //        id = this.id
               
                account_title = $("#account_title").val();
                account_number = $("#account_number").val();
                bstype = $("#bstype").val();
            
                $.ajax({
                    url: "/insert-chart-of-account/",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        accountNum: account_title,
                        accountTitle: account_number,
                        bsClass: bstype,
                        user: "",
                        }),
                    success: function(data) {
                        console.log("success",data);
                    },
                    error: function() {
                        console.log("error", data);
                        alert('error loading from database...');
                        }
                });
            });

            </script>
            

          
   
    
</body>



{% endblock %}

