<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.cs"> -->

    <!-- This is for Dropdown autocomple CSS -->
   <!-- This is for Dropdown autocomple CSS -->
   <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
   
 
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"> -->
   
   <!-- This for Datepicker -->
   <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
   
   <!-- stle for Datatable -->
   <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-html5-2.2.3/b-print-2.2.3/datatables.min.css"/>


</head>
<body>
  <div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        
        
            <ul class="navbar-nav">
              
  
                <li class="nav-item active">
                  <a class="nav-link" href="/home/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rizal
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/diesel-consumption/">Diesel Consumption</a>
                    <a class="dropdown-item" href="/diesel-consumption-list/">Diesel Consumption List</a>
                    <a class="dropdown-item" href="/rental-transaction/">Rental</a>
                    <a class="dropdown-item" href="/rental-transaction-list/">Rental List</a>
                    <a class="dropdown-item" href="/rental-search/">Rental List-UL</a>
                    <a class="dropdown-item" href="/payroll-computation/">Payroll Computation</a>
                    <a class="dropdown-item" href="/cash-advances/">Cash Advances</a>
                    <a class="dropdown-item" href="/rizal-eqipment/">Equipment</a>
                    <a class="dropdown-item" href="/13thMonth-computation/">13th Month</a>
                    <a class="dropdown-item" href="/employee-registration/">Employee Registration</a>
                    <a class="dropdown-item" href="/employee-list/">Employee List</a>
                    <a class="dropdown-item" href="/get_employee_payroll/">Employee Payroll Transaction</a>
                    <a class="dropdown-item" href="/insert-tonnage-rizal/">Insert Tonnage</a>
                    <a class="dropdown-item" href="/api-insert-rizal-cost/">Insert Cost</a>
                  </div>
                  
                </li>
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Accounting-Surigao
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/chart-of-account/">Chart of Account</a>
                    <a class="dropdown-item" href="/view-journal-entry/">View Journal Entry</a>
                    <a class="dropdown-item" href="/insert-journal-entry/">Insert Journal Entry-Not working</a>
                    <a class="dropdown-item" href="/insert-journal-entry-2/">Insert Journal Entry-Working</a>
                    <a class="dropdown-item" href="/income-statement/">Income-Statement</a>
                    <a class="dropdown-item" href="/trialbalance-surigao/">Trial Balance</a>
                    <a class="dropdown-item" href="/dollar-bill/">Equipment Dollar Bill</a>
                    <a class="dropdown-item" href="/peso-bill/">Equipment Peso Bill</a>
                  </div>
                </li>
                  <!-- this is for accounting Zamboanga -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Accounting-Zamboanga
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/chart-of-account/">Chart of Account</a>
                    <a class="dropdown-item" href="/view-journal-entry-zambo/">View Journal Entry</a>
                    <a class="dropdown-item" href="/list-journal-entry-zambo/">Journal Entry List</a>
                    <a class="dropdown-item" href="/insert-journal-entry-zambo2/">Insert Journal Entry</a>
                    <a class="dropdown-item" href="/income-statement-zambo/">Income-Statement</a>
                    <a class="dropdown-item" href="/trialbalance-zambo/">Trial Balance</a>
                    <a class="dropdown-item" href="/zamboanga-equipment/">Equipment</a>
                    
                  </div>
                </li>

                  <!-- this is for accounting TVI- Project -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      TVI-Project
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="/tvi-transaction/">Transactions</a>
                    
                      
                    </div>
                  </li>

                <!-- This is for User Transactions Drop down -->
                <li class="nav-item dropdown">
                  
                  <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Employee Transactions
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                    <a class="dropdown-item" href="/employee-rizal-equipment-rental/">Rizal Transactions</a>
                    <a class="dropdown-item" href="/employee-transaction-zambo/">Vitali Transactions</a>
                    <a class="dropdown-item" href="/employee-transaction-tvi/">TVI Transactions</a>
                    
                   
                   
                   
                  </div>   
            </li>



              <!-- This id for inventory Drop down -->
                <li class="nav-item dropdown">
                  
                      <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Accounts
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                        <a class="dropdown-item" href="/login">Admin Login</a>
                        <a class="dropdown-item" href="/employee-login/">Employee Login</a>
                       
                       
                       
                      </div>   
                </li>

                

                <li class="nav-item">
                  <a class="nav-link" href="/index/">Logout</a>
                </li>

             
    
            </ul>

          
          
      </div>
    </nav>
  

  </div>
  
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  
  
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script scr="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

 <!-- This is for datepicker JS  Edited 2.24.2023 --  >

  <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->


  <!-- This is for excel export -->
  <script type="text/javascript" 
  src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"
  >

  </script>
  
  

</body>
</html>



{% block content %}

{% endblock %}





