{% extends 'index.html' %}

{% block content %}
<style>
        table {
    width: 65%;
    }

    th {
    height: 70px;
    text-align: Center;
    }

    tr {
    text-align: Center;
    }

    td {
    height: 10px;
    }

</style>
<body>
    <form method="POST">

                    <div class="container mt-3">
                        {% for messege in messeges %}
                        <div class="alert alert-danger" role="alert">
                        {{ messege }}
                        </div>
                        {% endfor %}
                    </div>
                    
                    <div  class="container mt-3">
                        <label for="TransactionDate" >Transaction Date</label><br>
                            <input
                                type="date"
                                name="trans_date"
                                id="trans_date"
                                required
                                >
                            </input>  
                            <br>
                    </div>

                    <div class="container mt-3">
                        <label for="Journal" >Journal</label><br>
                        <select name="trasactionType" id="trasactionType"class="filter-selectbox"
                            required
                            >
                                <option value="Payment">Payments</option>
                                <option value="Receipts">Receipts</option>
                                <option value="Sales">Sales</option>
                                <option value="Purchases">Purchases</option>
                                <option value="General">General</option>

                        
                            </select>  <br>  
                    </div>

                    <div  class="container mt-3">
                        <label >Reference</label><br>
                            <input 
                                type="text"
                                name="reference"
                                id="reference"
                                style="width: 300px;"
                                required
                                >
                            </input><br>

                            
                    </div>

                    

                    <div  class="container mt-3">
                        <label >Journal Memo</label><br>
                            <textarea
                                type="input"
                                name="journal_memo" cols="35" rows="3"
                                id="journal_memo" required
                                >
                            </textarea><br>
                        
                    </div>

                
                    <div class="container mt-3">
                        <table class="table table-borderless">
                            <thead class="border-bottom font-weight-bold">
                                <tr>
                                    <td></td>
                                    <td>AccounTitle</td>
                                    <td>Debit</td>
                                    <td>Credit</td>
                                    <td></td>
                                    <td></td>


                                    
                                
                                    <!-- <td>
                                        <button type="button"  id="add_button" class="btn btn-primary"><i class="fas fa-database">
                                        </i>Add</button>
                                    </td> -->
    
                                
                                </tr>
                            </thead>
                            <tbody id="addrow">
                                
                                
                            </tbody>
                        </table>
    
                        
                    
                    
    
                    <div class="container mt-3">
                        <button type="button"  id="add_button" class="btn btn-primary"><i class="fas fa-database">
                        </i>Add line</button>

                        <button type="submit" name='submit' id='submiBTN' class="btn btn-success">
                        <i class="fas fa-database"> 
                        </i>Save</button>
                    </div>
    
    
    
                            <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
                            <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

                            

            
                            <script  type="text/javascript">
            
                            function getCookie(name) {
                                let cookieValue = null;
                                if (document.cookie && document.cookie !== '') {
                                    const cookies = document.cookie.split(';');
                                    for (let i = 0; i < cookies.length; i++) {
                                        const cookie = cookies[i].trim();
                                        // Does this cookie string begin with the name we want?
                                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                            break;
                                        }
                                    }
                                }
                                return cookieValue;
                            }
                            const csrftoken = getCookie('csrftoken');
            
                            // Setting the Click Event Listener on the Submit Button
                            $(document).ready(function(){
                                var maxField = 10; //Input fields increment limitation
                                var addButton = $('#add_button'); //Add button selector
                                var wrapper = $('#addrow'); //Input field wrapper
                                var x = 0; //Initial field counter is 1
                                
                                //Once add button is clicked
                                $(addButton).click(function(){
                                    //Check maximum number of input fields
                                    x++; //Increment field counter
                                    var fieldHTML = `<tr>
                                    <td>
                                        <input type=text hidden name="account_no${x}"  id="account_no" 
                                        style="width: 250px;"
                                         />
                                       
                                    </td>

                                    <td>
                                        <select name="accountTitle${x}" id="accountTitle${x}"class="filter-selectbox"
                                            >
                                            <option value="-----">------SELECT-----</option>
                                            {% for result in all_chart_of_account %}
                                                <option value="{{ result.accountTitle }}">{{ result.accountTitle }}</option>
                                            {% endfor %} 

                                        </select>
                                        
                                    </td>
            
                                    
            
                                    <td>
                                        <input
                                            type="number"
                                            name="amount${x}"
                                            id="amount${x}"
                                            class="amount"
                                            step="0.01"
                                            style="width: 150px; height: 25px;"
                                            onchange=myFunction()
                                        >
                                        </input
                                    </td>

                                    <td>
                                        <input
                                            type="number"
                                            name="credit_amount${x}"
                                            id="credit_amount${x}"
                                            class="credit_amount"
                                            step="0.01"
                                            style="width: 150px; height: 25px;"
                                            onchange=myFunction()
                                        >
                                        </input
                                    </td>

                                   
            
                                    <td>
                                        <button type="button"  id="remove_button" class="btn btn-danger"><i class="fas fa-database">
                                        </i>Remove</button>
                                    </td>

                                   

                                    </tr> `; //New input field html 
                                    $(wrapper).append(fieldHTML); //Add field html
                                    
                                });
                                
                                //Once remove button is clicked
                                $(wrapper).on('click', '#remove_button', function(e){
                                    e.preventDefault();
                                    $(this).closest('tr').remove(); //Remove field html 
                                    myFunction();
                                    x--; //Decrement field counter
                                });
                            });
            
                            </script>
            
                            <script>
                            function myFunction() {
                            let button = document.querySelector("#submitBTN");
                            
                            button.disabled = true;
                            let sumCredit = 0.0;
                            let sumDebit = 0.0;

                            
                            
                            credit_amount1 = document.getElementById('credit_amount1').value
                            credit_amount2 = document.getElementById('credit_amount2').value
                            credit_amount3 = document.getElementById('credit_amount3').value
                            credit_amount4 = document.getElementById('credit_amount4').value
                            credit_amount5 = document.getElementById('credit_amount5').value
                            credit_amount6 = document.getElementById('credit_amount6').value
                            credit_amount7 = document.getElementById('credit_amount7').value
                            credit_amount8 = document.getElementById('credit_amount8').value
                            credit_amount9 = document.getElementById('credit_amount9').value
                            credit_amount10 = document.getElementById('credit_amount10').value
                            credit_amount11 = document.getElementById('credit_amount11').value
                            credit_amount12 = document.getElementById('credit_amount12').value

                            const creditAmount = [
                                 credit_amount1,credit_amount2,credit_amount3,
                                 credit_amount4,credit_amount5,credit_amount6,
                                 credit_amount7,credit_amount8,credit_amount9,
                                 credit_amount10,credit_amount11,credit_amount12
                                
                            ]


                            

                            // sumCredit = (parseFloat(credit_amount1) + parseFloat(credit_amount2) +
                            //                 parseFloat(credit_amount3) + parseFloat(credit_amount4)+
                            //                 parseFloat(credit_amount5)+parseFloat(credit_amount6)+
                            //                 parseFloat(credit_amount7)+parseFloat(credit_amount8)+
                            //                 +parseFloat(credit_amount9)+parseFloat(credit_amount10)+
                            //                 parseFloat(credit_amount11)+parseFloat(credit_amount11));


                            amount1 = document.getElementById('amount1').value
                            amount2 = document.getElementById('amount2').value
                            amount3 = document.getElementById('amount3').value
                            amount4 = document.getElementById('amount4').value
                            amount5 = document.getElementById('amount5').value
                            amount6 = document.getElementById('amount6').value
                            amount7 = document.getElementById('amount7').value
                            amount8 = document.getElementById('amount8').value
                            amount9 = document.getElementById('amount9').value
                            amount10 = document.getElementById('amount10').value
                            amount11 = document.getElementById('amount11').value
                            amount12 = document.getElementById('amount12').value

                            const debitAmount = [
                            amount1,amount2,amount3,
                            amount4,amount5,amount6,
                            amount7,amount8,amount9,
                            amount10,amount11,amount12
                                
                            ]
                            console.log(debitAmount)
                            
                            // sumDebit = (parseFloat(amount1) + parseFloat(amount2) +
                            //                 parseFloat(amount3) + parseFloat(amount4)+
                            //                 parseFloat(amount5)+parseFloat(amount6)+
                            //                 parseFloat(amount7)+parseFloat(amount8)+
                            //                 +parseFloat(amount9)+parseFloat(amount10)+
                            //                 parseFloat(amount11)+parseFloat(amount12));


                                
                                
                        
                            if((sumCredit - sumDebit) === 0.0){
                                button.disabled = false;
                            }
                            }
                            </script>

                            <script>

                                $( function() {
                                    
                                    $("#account_no").autocomplete({
                                    source: "/autocomplete/"
                                    });
                                } );


                            </script>

                           

                    </div>
    </form>                
                    
</body>

{% endblock %}