{% extends 'index.html' %}

{% block content %}
<style>
        table {
    width: 65%;
    }

    th {
    height: 70px;
    text-align: Center;
    }

    tr {
    text-align: Center;
    }

    td {
    height: 10px;
    }

</style>
<body>
    <form method="POST">

                    <div class="container mt-3">
                        {% for messege in messeges %}
                        <div class="alert alert-danger" role="alert">
                        {{ messege }}
                        </div>
                        {% endfor %}
                    </div>
                    
                    <div  class="container mt-3">
                        <label for="TransactionDate" >Transaction Date</label><br>
                            <input
                                type="date"
                                name="trans_date"
                                id="trans_date"
                                required
                                >
                            </input>  
                            <br>
                    </div>

                    <div class="container mt-3">
                        <label for="Journal" >Journal</label><br>
                        <select name="trasactionType" id="trasactionType"class="filter-selectbox"
                            required
                            >
                                <option value="Payment">Payments</option>
                                <option value="Receipts">Receipts</option>
                                <option value="Sales">Sales</option>
                                <option value="Purchases">Purchases</option>
                                <option value="General">General</option>

                        
                            </select>  <br>  
                    </div>

                    <div  class="container mt-3">
                        <label >Reference</label><br>
                            <input 
                                type="text"
                                name="reference"
                                id="reference"
                                style="width: 300px;"
                                required
                                >
                            </input><br>

                            
                    </div>

                    

                    <div  class="container mt-3">
                        <label >Journal Memo</label><br>
                            <textarea
                                type="input"
                                name="journal_memo" cols="35" rows="3"
                                id="journal_memo" required
                                >
                            </textarea><br>
                        
                    </div>

                
                    <div class="container mt-3">
                        <table class="table table-borderless">
                            <thead class="border-bottom font-weight-bold">
                                <tr>
                                    <td></td>
                                    <td>AccounTitle</td>
                                    <td>Debit</td>
                                    <td>Credit</td>
                                    <td></td>
                                    <td></td>


                                    
                                
                                    <!-- <td>
                                        <button type="button"  id="add_button" class="btn btn-primary"><i class="fas fa-database">
                                        </i>Add</button>
                                    </td> -->
    
                                
                                </tr>
                            </thead>
                            <tbody id="addrow">
                                
                                
                            </tbody>
                        </table>
    
                        
                    
                    
    
                    <div class="container mt-3">
                        <button type="button"  id="add_button" class="btn btn-primary"><i class="fas fa-database">
                        </i>Add line</button>

                        <button type="submit" name='submit' id='submiBTN' class="btn btn-success">
                        <i class="fas fa-database"> 
                        </i>Save</button>
                    </div>
    
    
    
                            <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
                            <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

                            

            
                            <script  type="text/javascript">
            
                            function getCookie(name) {
                                let cookieValue = null;
                                if (document.cookie && document.cookie !== '') {
                                    const cookies = document.cookie.split(';');
                                    for (let i = 0; i < cookies.length; i++) {
                                        const cookie = cookies[i].trim();
                                        // Does this cookie string begin with the name we want?
                                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                            break;
                                        }
                                    }
                                }
                                return cookieValue;
                            }
                            const csrftoken = getCookie('csrftoken');
            
                            // Setting the Click Event Listener on the Submit Button
                            $(document).ready(function(){
                                var maxField = 10; //Input fields increment limitation
                                var addButton = $('#add_button'); //Add button selector
                                var wrapper = $('#addrow'); //Input field wrapper
                                var x = 0; //Initial field counter is 1
                                
                                //Once add button is clicked
                                $(addButton).click(function(){
                                    //Check maximum number of input fields
                                    x++; //Increment field counter
                                    var fieldHTML = `<tr>
                                    <td>
                                        <input type=text hidden name="account_no${x}"  id="account_no" 
                                        style="width: 250px;"
                                         />
                                       
                                    </td>

                                    <td>
                                        <select name="accountTitle${x}" id="accountTitle${x}"class="filter-selectbox"
                                            >
                                            <option value="-----">------SELECT-----</option>
                                            {% for result in all_chart_of_account %}
                                                <option value="{{ result.accountTitle }}">{{ result.accountTitle }}</option>
                                            {% endfor %} 

                                        </select>
                                        
                                    </td>
            
                                    
            
                                    <td>
                                        <input
                                            type="number"
                                            name="amount${x}"
                                            id="amount${x}"
                                            class="amount"
                                            step="0.01"
                                            onchange=myFunction2()
                                            style="width: 150px; height: 25px;"
                                            
                                        >
                                        </input
                                    </td>

                                    <td>
                                        <input
                                            type="number"
                                            name="credit_amount${x}"
                                            id="credit_amount${x}"
                                            class="credit_amount"
                                            step="0.01"
                                            onchange=myFunction2()
                                            style="width: 150px; height: 25px;"
                                            
                                        >
                                        </input
                                    </td>

                                   
            
                                    <td>
                                        <button type="button"  id="remove_button" class="btn btn-danger"><i class="fas fa-database">
                                        </i>Remove</button>
                                    </td>

                                   

                                    </tr> `; //New input field html 
                                    $(wrapper).append(fieldHTML); //Add field html
                                    
                                });
                                
                                //Once remove button is clicked
                                $(wrapper).on('click', '#remove_button', function(e){
                                    e.preventDefault();
                                    $(this).closest('tr').remove(); //Remove field html 
                                    myFunction2();
                                    x--; //Decrement field counter
                                });
                            });
            
                            </script>
            
                            <script type="text/javascript">
                                function myFunction2() {
                                document.querySelector("#submiBTN").disabled = true;
                                    var total = 0.0;
                                    // let debitList = document.querySelector('input.amount');
                                    let debitList = document.getElementsByClassName('amount');
                                    let debitsum = 0;
                                   
                                    
                                    for (let i of debitList){
                                        // console.log(i.value)
                                        let debitValue = parseFloat(i.value);
                                        
                                        debitsum += debitValue;
                                        debitsum2 = parseFloat(debitsum).toFixed(2)
                                    }
                                    


                                    let creditList = document.getElementsByClassName('credit_amount');
                                    let creditsum = 0;
                                    

                                    for (let i of creditList){
                                        let creditValue = parseFloat(i.value);
                                        creditsum += creditValue;
                                        creditsum2 = parseFloat(creditsum).toFixed(2)
                                    }
                                   
                                    total = parseFloat(debitsum2) - parseFloat(creditsum2)

                                    if (total === 0){
                                        document.getElementById("submiBTN").disabled = false;
                                    }else{
                                        document.getElementById("submiBTN").disabled = true;
                                    }
                                
                                }
                                    
                            
                            </script>

                            <script>

                                $( function() {
                                    
                                    $("#account_no").autocomplete({
                                    source: "/autocomplete/"
                                    });
                                } );


                            </script>

                           

                    </div>
    </form>                
                    
</body>

{% endblock %}