{% extends 'index.html' %}



{% block content %}

<body>
    <div class="container">
        <h1>Login Here !!!</h1>
        <form method="POST">
           

            <div class="container mt-3">
              {% for i in msg %}
              <div class="alert alert-danger" role="alert">
                {{ i }}
                </div>
              {% endfor %}
          </div>
            
            <label for="Username"
            >Username</label>
            
            <input 
            type="text"
            name="username"
            id="username"
            
            class="form-control"
            >

            <label for="password"
            >Password</label>
            
            <input 
            type="password"
            name="password"
            id="password"
            
            class="form-control"
            >
            <div class="mb-3">
                <button  type="submit" class="btn btn-primary">
                Login</button>
            </div>
            
          </form>

       

          
          <!-- Modal -->
          <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>

                
                <div class="modal-body">

                    <label for="Full Name"
                    >Full Name</label>
                    
                    <input 
                    type="text"
                    name="fullname"
                    id="fullname"
                    required
                    class="form-control"
                    >

                    <label for="UserName"
                    >User Name</label>
                    
                    <input 
                    type="text"
                    name="username1"
                    id="username1"
                    required
                    class="form-control"
                    >

                    <label for="Password"
                    >Password</label>
                    
                    <input 
                    type="password"
                    name="password1"
                    id="password1"
                    required
                    class="form-control"
                    >


                    <label for="Password"
                    >Re-type Password</label>
                    
                    <input 
                    type="password"
                    name="password2"
                    id="password2"
                    class="form-control"
                    >

                    <label for="Status" hidden
                    >Status</label>
                    
                    <input 
                    type="text" 
                    name="status"
                    id="status"
                    value="for approval"
                    class="form-control"
                    >

                    <input
                        type="datetime-local" hidden
                        name="trans_date"
                        id="trans_date"
                       
                        > 
                    </input>  

                    
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" onclick="insert_employee_user()" class="btn btn-primary">Save</button>
                <!-- <button type="button" name ="save_button" id="save_button" class="btn btn-success">Save</button> -->
                </div>
            </div>
            </div>
            </div>


            <!-- Approver Modal-->
          <div class="modal fade" id="approved" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>

                
                <div class="modal-body">

                    <input 
                    type="text"
                    name="transID"
                    id="transID"
                    
                    class="form-control"
                    >

                    <label for="Full Name"
                    >Full Name</label>
                    
                    <input 
                    type="text"
                    name="fullname_update"
                    id="fullname_update"
                
                    >

            <!-- This is for search button -->
                    <button type="submit" onclick="display_data()"  class="btn btn-warning">
                        Search
                        <i class="fas fa-database"></i>
                    </button>


                    
                    <br>
                    <label for="Status"
                    >Status</label>
                    
                    <input 
                    type="text" 
                    name="status_update"
                    id="status_update"
                    
                    class="form-control"
                    >

                    
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" onclick="update_status()" class="btn btn-primary">Update</button>
                <!-- <button type="button" name ="save_button" id="save_button" class="btn btn-success">Save</button> -->
                </div>
            </div>
            </div>
            </div>



            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#signup">
                Sign Up
            </button>

            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#approved">
                Approved User
            </button>

          

    </div>

    <script type="text/javascript">
        function insert_employee_user(){
            var fullname = document.getElementById("fullname").value
            var username = document.getElementById("username1").value
            var password = document.getElementById("password1").value
           
            var p1 = document.getElementById("password1").value
            var p2 = document.getElementById("password2").value

            var data = {}
            
            data["fullname"] = document.getElementById("fullname").value
            data["username"] = document.getElementById("username1").value
            data["password"] = document.getElementById("password1").value
            data["status"] = document.getElementById("status").value
            data["created"] = document.getElementById("trans_date").value
            
            console.log(data)
            if (fullname =='' || password =='' || username =='' ){
                window.alert("Please fill up Blank Fields");
            }else{
                if (p1 != p2 || fullname =='' || password =='' || username =='' ){
                window.alert("Password is not Equal");
            }else{
                fetch("/api-employee-sign-up/", {
                method:'POST', 
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(data)
                    })
                .then(function (response) {
                    // Save the response status in a variable to use later.
                    fetch_status = response.status;
                    // Handle success
                    // eg. Convert the response to JSON and return
                    return response.json();
                }) 
                .then(function (json) {
                    // Check if the response were success
                    if (fetch_status == 200) {
                        // Use the converted JSON
                        window.alert("Your Data has been Updated");
                        window.location.assign("/dollar-bill/");
                        console.log(json);
                    } else if (fetch_status == 401){
                        window.alert("UnAuthorized please Login");
                    }
                })
                .catch(function (error){
                    // Catch errors
                    window.alert(error);
                    console.log(error);
                });

            }


            }
            
            
            
            
        }
        

    </script>


    <script type="text/javascript">
                    

        const element = document.getElementById('trans_date');
        element.valueAsNumber = Date.now()-(new Date()).getTimezoneOffset()*60000;

        
    </script>

        <script type="text/javascript">
                    

            function update_status(){
                var data = {}
                var id = document.getElementById("transID").value
                var status = document.getElementById("status_update").value
                
                data["status"] = document.getElementById("status_update").value;
                
            
                
                console.log(data)

                if (id ===''){
                    window.alert("Trans ID field is requires");
                } else{
                    fetch(`/api-update-employee-user/?id=${id}&status=${status}`, {
                        method:'PUT', 
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(data)
                    })


                    .then(function (response) {
                        // Save the response status in a variable to use later.
                        fetch_status = response.status;
                        // Handle success
                        // eg. Convert the response to JSON and return
                        return response.json();
                    }) 
                    .then(function (json) {
                        // Check if the response were success
                        if (fetch_status == 200) {
                            // Use the converted JSON
                            window.alert("Your Data has been Updated");
                            window.location.assign("/index");
                            console.log(json);
                        }
                        else if (fetch_status == 401){
                            window.alert("Unauthorized credential Please Login");
                        }
                    })
                    .catch(function (error){
                        // Catch errors
                        window.alert(error);
                        console.log(error);
                    });

                }

                }

        </script>


        <!-- This is for auto complete of Routes -->
        <script>
            $( function() { 
                        $("#fullname_update").autocomplete({
                        source: "/api-autocomplete-employee-user/"
                        });

                    } );

        </script>


        <!-- This is for displaying Hauling Transaction using ID of Transaction -->
        <script type="text/javascript">

                    
            async function display_data(){
                var fullname = document.getElementById("fullname_update").value

                const search_url = `/api-get-employee-user/?fullname=${fullname}`;


                const responce = await fetch(search_url)
                const data = await responce.json();
                console.log(data)

            
                if (responce.status == 401){
                        window.alert("Unauthorized Please Login")

                    }

                else if (data.length === 0){
                    window.alert(`No ID store for ${fullname}`)
                }else{
                    var transID = data[0].id
                    var status = data[0].status
                

                    document.getElementById("transID").value = transID;
                    document.getElementById("status_update").value= status;
                   
                    
                }
                
            

            }

        </script>




</body>


{% endblock %}