{% extends 'index.html' %}

{% block content %}

<body>
    <div class="container">

    </div>
    <div  class="container mt-3">
        <label for="TransactionDate" >Date</label><br>
            <input
                type="date"
                name="datefrom"
                id="datefrom"
                >
            </input>

           
            
            <br>
        <label for="Employee ID" >Employee ID</label><br>
            <input
                type="text"
                name="employee_id"
                id="employee_id"
                >
             </input>

             <button type="submit"  onclick="display_emp_data()" class="btn btn-success">
                Search Data
                <i class="fas fa-database"></i>
            </button>
             
             <br> 

        <label for="FirstName" >First Name</label><br>
             <input
                 type="text"
                 name="fname"
                 id="fname"
                 >
              </input><br>

        <label for="LastName" >Last Name</label><br>
              <input
                  type="text"
                  name="lname"
                  id="lname"
                  >
               </input>

        <label for="Position" >Position</label>
                <input
                    type="text"
                    name="position"
                    id="position"
                    >
                </input>
        <label for="Salary Rate" >Salary Rate</label>
                <input
                    type="number"
                    step="0.01"
                    name="salary_rate"
                    id="salary_rate"
                    style="width: 130px;"
                    >
                </input>

        <label for="Tax Classification" >Tax Classification</label>
                <input
                    type="text"
                    name="tax_class"
                    id="tax_class"
                    style="width: 130px;"
                    >
                </input>

        <label for="EmployeClass" >Employee Class</label>
                <input
                    type="text"
                    name="emp_class"
                    id="emp_class"
                    style="width: 130px;"
                    >
                </input>

        
    </div>

    <div class="container mt-5">
        <label for="REGDAY" >Regular day</label>
        <input
            type="number"
            step="0.01"
            name="regday"
            id="regday"
            style="width: 100px;"
            >
        </input>

        <input
            type="number"
            step="0.01"
            name="regday_cal"
            id="regday_cal"
            style="width: 100px;"
            >
        </input>
        
    </div>
</body>

        <script type="text/javascript">

            // const rental_url =search_url ;
            async function display_emp_data(){
                var employee_id = document.getElementById("employee_id").value

                const search_url = `/api-search-employee_by_empID/?term=${employee_id}`;


                const responce = await fetch(search_url)
                const data = await responce.json();
                console.log(data)
                console.log(data.length)

                if (data.length === 0){
                    window.alert(`No ID store for ${employee_id}`)
                }
                else{
                    var name = data[0].firstName
                    var lname = data[0].lastName
                    var position = data[0].position
                    var salary_rate = data[0].salary_rate
                    var taxCode = data[0].taxCode
                    var off_on_details = data[0].off_on_details


                    document.getElementById('fname').value = name
                    document.getElementById('lname').value = lname
                    document.getElementById('position').value = position
                    document.getElementById('salary_rate').value = salary_rate
                    document.getElementById('tax_class').value = taxCode
                    document.getElementById('emp_class').value = off_on_details

                }
                
                
                
                
            }

            
            

        </script>

        <script type="text/javascript">

        </script>


{% endblock %}