{% extends 'index.html' %}

{% block content %}
<style>
    body {
        background-color: white;
        };
    .TransactionDate{
        color: beige;
    }
    
</style>

<body>
    <div class="container">
           
                <div class="container  mt-3">
                    <div class="d-flex justify-content-center">
                        <div class="form-group mb-2">
                            <label for="TransactionDate" class="l-color" >Date</label>
                            <input
                                type="date"
                                name="datefrom"
                                id="datefrom"
                                class="form-control"
                                >
                            </input>
        
            
                            <label for="Employee ID" >Employee ID</label>
                            <input
                            type="text"
                            name="employee_id"
                            id="employee_id"
                            class="form-control"
                            >
                            </input>
                            
                           
                                <button type="submit"  onclick="display_emp_data()" class="btn btn-success">
                                    Search Data
                                    <i class="fas fa-database"></i>
                                </button>
                           
                        </div>

                        <div class="form-group mx-sm-3 mb-3">
                                <label for="FirstName" >First Name</label>
                                <input
                                    type="text"
                                    name="fname"
                                    id="fname"
                                    class="form-control"
                                    >
                                </input>

                                <label for="LastName" >Last Name</label>
                                    <input
                                        type="text"
                                        name="lname"
                                        id="lname"
                                        class="form-control"
                                        >
                                    </input>
                        </div>

                        <div class="form-group mx-sm-3 mb-3">
                            <label for="Position" >Position</label>

                            <input
                                type="text"
                                name="position"
                                id="position"
                                class="form-control"
                                >
                            </input>
                            <label for="Salary Rate" >Salary Rate</label>
                                <input
                                    type="number"
                                    step="0.01"
                                    name="salary_rate"
                                    id="salary_rate"
                                    class="form-control"
                                    
                                    >
                                </input>
                            
                            <label for="Provincial Rate" >Provincial Rate</label>
                                <input
                                    type="number"
                                    step="0.01"
                                    name="provi_rate"
                                    id="provi_rate"
                                    class="form-control"
                                    
                                    >
                                </input>

                        </div>

                        <div class="form-group mx-sm-3 mb-3">
                            <label for="Tax Classification" >Tax Classification</label>
                            <input
                                type="text"
                                name="tax_class"
                                id="tax_class"
                                class="form-control"
                                >
                            </input>

                            <label for="EmployeClass" >Employee Class</label>
                                <input
                                    type="text"
                                    name="emp_class"
                                    id="emp_class"
                                
                                    class="form-control"
                                    >
                                </input>

                            <label for="EmployeClass" >Salary Details</label>
                                <input
                                    type="text"
                                    name="salary_details"
                                    id="salary_details"
                                    class="form-control"
                                    
                                    >
                                </input>
                    
                        </div>

                    
                    </div>
                    
                </div>
                
               
                
           
            
              
                

                   

                    

<!--============================== This is start for computation fields============================== -->
                <div class="d-flex justify-content-center">
                    <h1>
                        This is for computation 
                    </h1>
                </div>  
                
                <div class="d-flex justify-content-center">
                    <div class="form-group mx-sm-3 mb-1">
                        <label for="REGDAY"
                        >Regular day</label>
                            <input
                                type="number"
                                step="0.01"
                                name="regday"
                                id="regday"
                                style="text-align: right;"
                                class="form-control"
                                
                                >
                            </input>
                        <label for="regdaycal"
                        >Regday Cal</label>
                            <input
                                type="number"
                                step="0.01"
                                name="regday_cal"
                                id="regday_cal"
                                style="text-align: right;"
                                class="form-control"
                                >
                            </input>
    

                    </div>

                    <div class="form-group mx-sm-3 mb-1">
                        <label for="REGOT"
                        >Regular OT</label>
    
                            <input
                                type="number"
                                step="0.01"
                                name="regday_ot"
                                id="regday_ot"
                                style="text-align: right;"
                                class="form-control"
                                
                                >
                            </input>
                        <label for="REGOT"
                        >RegDay OT Calculation</label>
                            <input
                                type="number"
                                step="0.01"
                                name="regday_ot_cal"
                                id="regday_ot_cal"
                                style="text-align: right;"
                                class="form-control"
                                >
                            </input>

                    </div>

                    <div class="form-group mx-sm-2 mb-1">
                        <label for="SUNDAY"
                        >SUNDAY </label>
                            <input
                                type="number"
                                step="0.01"
                                name="sunday"
                                id="sunday"
                                style="text-align: right;
                                    "
                                class="form-control"
                                >
                            </input>
                            
                        <label for="SUNDAY"
                            >SUNDAY Calculation </label>
    
                            <input
                                type="number"
                                step="0.01"
                                name="sunday_cal"
                                id="sunday_cal"
                                style="text-align: right;
                                    "
                                class="form-control"
                                >
                            </input>

                    </div>

                    <div class="form-group mx-sm-2 mb-1">
                        <label for="SundayOT"
                           
                        >Sunday OT</label>
    
                            <input
                                type="number"
                                step="0.01"
                                name="sunday_ot"
                                id="sunday_ot"
                                style="text-align: right;"
                                class="form-control"
                                
                                >
                            </input>
                        <label for="SundayOT"
                        
                        >Sunday OT Calculation</label>
                            <input
                                type="number"
                                step="0.01"
                                name="sunday_ot_cal"
                                id="sunday_ot_cal"
                                style="text-align: right;
                                    "
                                class="form-control"
                                >
                            </input>

                    </div>
                    
                    
                        

                </div>
                        

                        
    
                        
                <!-- This is for Special Holiday Computation -->
                <div class="d-flex justify-content-center">
                    <div class="form-group mx-sm-2 mb-1">
                        <label for="SPL"
                        >SPL </label>
                            <input
                                type="number"
                                step="0.01"
                                name="spl"
                                id="spl"
                                style="text-align: right;
                                    "
                                class="form-control"
                                
                                >
                            </input>
                        <label for="SPL"
                        >SPL Calculation </label>
                     
    
                            <input
                                type="number"
                                step="0.01"
                                name="spl_cal"
                                id="spl_cal"
                                style="text-align: right;
                                    "
                                class="form-control"
                                >
                            </input>

                    </div>

                    <div class="form-group mx-sm-2 mb-1">
                        <label for="SPLOT"
                           
                        >SPL OT</label>
    
                            <input
                                type="number"
                                step="0.01"
                                name="spl_ot"
                                id="spl_ot"
                                style="text-align: right;
                                        "
                                class="form-control"
                                >
                            </input>

                        <label for="SPLOT"
                           
                        >SPL OT Calculation</label>
    
                            <input
                                type="number"
                                step="0.01"
                                name="spl_ot_cal"
                                id="spl_ot_cal"
                                style="text-align: right;
                                        "
                                class="form-control"
                                >
                            </input>

                    </div>

                    <div class="form-group mx-sm-2 mb-1">
                        <label for="LGL2"
                           
                        >LGL2</label>
    
                            <input
                                type="number"
                                step="0.01"
                                name="lgl2"
                                id="lgl2"
                                style="text-align: right;"
                                class="form-control"
                                >
                            </input>

                        <label for="LGL2cAL"
                           
                        >LGL2 CAL</label>
    
                            <input
                                type="number"
                                step="0.01"
                                name="lgl2_cal"
                                id="lgl2_cal"
                                style="text-align: right;"
                                class="form-control"
                                >
                            </input>

                    </div>

                    <div class="form-group mx-sm-2 mb-1">
                        <label for="LGL2OT"
                           
                        >LGL2 OT</label>
    
                            <input
                                type="number"
                                step="0.01"
                                name="lgl2_ot"
                                id="lgl2_ot"
                                style="text-align: right;"
                                class="form-control"
                                >
                            </input>

                        <label for="LGL2cAL"
                           
                        >LGL2 OT Calculation</label>
    
                            <input
                                type="number"
                                step="0.01"
                                name="lgl2_ot_cal"
                                id="lgl2_ot_cal"
                                style="text-align: right;"
                                class="form-control"
                                >
                            </input>

                    </div>



                    
    
                        
                      

                </div>
                        

    </div>       
                

                    
                    
                
    
    
</body>

        <script type="text/javascript">

            // const rental_url =search_url ;
            async function display_emp_data(){
                var employee_id = document.getElementById("employee_id").value

                const search_url = `/api-search-employee_by_empID/?term=${employee_id}`;


                const responce = await fetch(search_url)
                const data = await responce.json();
                console.log(data)
                console.log(data.length)

                if (responce.status != 200){
                    window.alert("Unauthorized Please Login")

                };

                if (data.length === 0){
                    window.alert(`No ID store for ${employee_id}`)
                }
                else{
                    var name = data[0].firstName
                    var lname = data[0].lastName
                    var position = data[0].position
                    var salary_rate = data[0].salary_rate
                    var taxCode = data[0].taxCode
                    var off_on_details = data[0].off_on_details
                    var salary_details = data[0].Salary_Detail

                    document.getElementById('fname').value = name
                    document.getElementById('lname').value = lname
                    document.getElementById('position').value = position
                    document.getElementById('salary_rate').value = salary_rate
                    document.getElementById('tax_class').value = taxCode
                    document.getElementById('emp_class').value = off_on_details
                    document.getElementById('salary_details').value = salary_details

                }
                
                
                
                
            }

            
            

        </script>

        

        </script>

        <script type="text/javascript">
            // document.getElementById('regday').addEventListener('input',
            // function(e){
            //     let regday = e.target.value;
            //     var salDetails = document.getElementById('salary_details').value;
               
            //     var salaryRate;
            //     var regdayCal;
               

            //     if (salDetails == 'Monthly'){
            //         salaryRate =  document.getElementById('salary_rate').value / 26;
            //         regdayCal = parseFloat(salaryRate) * parseFloat(regday)
            //         document.getElementById('regday_cal').value=regdayCal.toFixed(2);
                    
            //     }else{
            //         salaryRate =  document.getElementById('salary_rate').value;
            //         regdayCal = parseFloat(salaryRate) * parseFloat(regday)
            //         document.getElementById('regday_cal').value=regdayCal.toFixed(2);
            //     }
                
                
                
            // }
            // );
             // Get the elements we need
                const regdayInput = document.getElementById('regday');
                const salaryDetails = document.getElementById('salary_details');
                const salaryRateInput = document.getElementById('salary_rate');
                const regdayCalInput = document.getElementById('regday_cal');

                // Add an event listener to the regday input to calculate the regular day calculation
                // when the value of the input changes
                regdayInput.addEventListener('input', function(e) {
                    // Get the values from the inputs
                    const regday = Number(e.target.value);
                    const salaryDetailsValue = salaryDetails.value;
                    const salaryRate = Number(salaryRateInput.value);

                    // Calculate the salary rate and regular day calculation
                    const regularDayCalculation = calculateRegularDay(
                    salaryDetailsValue,
                    salaryRate,
                    regday
                    );

                    // Update the regular day calculation input with the result
                    regdayCalInput.value = regularDayCalculation.toFixed(2);
                });

                // Function to calculate the regular day calculation
                function calculateRegularDay(salaryDetails, salaryRate, regularDay) {
                    // If the salary is monthly, divide the salary rate by 26 to get the daily rate
                    if (salaryDetails === 'Monthly') {
                    salaryRate = salaryRate / 26;
                    }

                    // Return the regular day calculation
                    return salaryRate * regularDay;
                }

        </script>

        <script type="text/javascript">
            document.getElementById('regday_ot').addEventListener('input',
            function(e){
                let regday_ot = e.target.value;

                var salDetails = document.getElementById('salary_details').value;
                var salaryRate;
                var regday_otCal;

                if (salDetails == 'Monthly'){
                    salaryRate =  document.getElementById('salary_rate').value / 26;
                    regday_otCal = parseFloat(salaryRate) / 8 * 1.25 * parseFloat(regday_ot)
                    document.getElementById('regday_ot_cal').value=regday_otCal.toFixed(2);
                }else{
                    salaryRate =  document.getElementById('salary_rate').value ;
                    regday_otCal = parseFloat(salaryRate) / 8 * 1.25 * parseFloat(regday_ot)
                    document.getElementById('regday_ot_cal').value=regday_otCal.toFixed(2);

                }
   
            }
            );

        </script>

        <script type="text/javascript">
            document.getElementById('sunday').addEventListener('input',
            function(e){
                let sundayReg = e.target.value;
                var salDetails = document.getElementById('salary_details').value;
                
                var salaryRate;
                
                var sundayReg_cal;

                if (salDetails == 'Monthly'){
                    salaryRate =  document.getElementById('salary_rate').value / 26;
                    sundayReg_cal = parseFloat(salaryRate) * parseFloat(sundayReg) * 1.30
                    document.getElementById('sunday_cal').value=sundayReg_cal.toFixed(2);
                }else{
                    salaryRate =  document.getElementById('salary_rate').value;
                    sundayReg_cal = parseFloat(salaryRate) * parseFloat(sundayReg) * 1.30
                    document.getElementById('sunday_cal').value=sundayReg_cal.toFixed(2);
                }
                
                
                
            }
            );

        </script>
<!-- =================================This is for Sunday OT Calculation============================ -->
        <script type="text/javascript">
            document.getElementById('sunday_ot').addEventListener('input',
            function(e){
                let sunday_ot = e.target.value;

                var salDetails = document.getElementById('salary_details').value;
                var salaryRate;
                var sunday_otCal;

                if (salDetails == 'Monthly'){
                    salaryRate =  document.getElementById('salary_rate').value / 26;
                    sunday_otCal = parseFloat(salaryRate) / 8 * 1.69 * parseFloat(sunday_ot)
                    document.getElementById('sunday_ot_cal').value=sunday_otCal.toFixed(2);
                }else{
                    salaryRate =  document.getElementById('salary_rate').value ;
                    sunday_otCal = parseFloat(salaryRate) / 8 * 1.69 * parseFloat(sunday_ot)
                    document.getElementById('sunday_ot_cal').value=sunday_otCal.toFixed(2);

                }

            }
            );

        </script>

<!-- =================================This is for SPL Calculation============================ -->
        <script type="text/javascript">
            document.getElementById('spl').addEventListener('input',
            function(e){
                let spl = e.target.value;

                var salDetails = document.getElementById('salary_details').value;
                var salaryRate;
                var spl_cal;

                if (salDetails == 'Monthly'){
                    salaryRate =  document.getElementById('salary_rate').value / 26;
                    spl_cal = parseFloat(salaryRate) * parseFloat(spl) * 1.30
                    document.getElementById('spl_cal').value=spl_cal.toFixed(2);
                }else{
                    salaryRate =  document.getElementById('salary_rate').value ;
                    spl_cal = parseFloat(salaryRate) * parseFloat(spl) * 1.30
                    document.getElementById('spl_cal').value=spl_cal.toFixed(2);

                }

            }
            );

        </script>


<!-- =================================This is for SPL OT  Calculation============================ -->
        <script type="text/javascript">
            document.getElementById('spl_ot').addEventListener('input',
            function(e){
                let spl_ot = e.target.value;

                var salDetails = document.getElementById('salary_details').value;
                var salaryRate;
                var spl_ot_cal;

                if (salDetails == 'Monthly'){
                    salaryRate =  document.getElementById('salary_rate').value / 26;
                    spl_ot_cal = parseFloat(salaryRate) / 8 * 1.69 * parseFloat(spl_ot)
                    document.getElementById('spl_ot_cal').value=spl_ot_cal.toFixed(2);
                }else{
                    salaryRate =  document.getElementById('salary_rate').value ;
                    spl_ot_cal = parseFloat(salaryRate)/ 8 * 1.69 * parseFloat(spl_ot) 
                    document.getElementById('spl_ot_cal').value=spl_ot_cal.toFixed(2);

                }

            }
            );

        </script>

<!-- =================================This is for SPL Calculation============================ -->
        <script type="text/javascript">
            document.getElementById('lgl2').addEventListener('input',
            function(e){
                let spl = e.target.value;

                var salDetails = document.getElementById('salary_details').value;
                var salaryRate;
                var lgl2_cal;

                if (salDetails == 'Monthly'){
                    salaryRate =  document.getElementById('salary_rate').value / 26;
                    lgl2_cal = parseFloat(salaryRate) * parseFloat(spl) * 2
                    document.getElementById('lgl2_cal').value=lgl2_cal.toFixed(2);
                }else{
                    salaryRate =  document.getElementById('salary_rate').value ;
                    lgl2_cal = parseFloat(salaryRate) * parseFloat(spl) * 2
                    document.getElementById('lgl2_cal').value=lgl2_cal.toFixed(2);

                }

            }
            );

        </script>

<!-- =================================This is for LGL2 OT  Calculation============================ -->
        <script type="text/javascript">
           
             // Get the elements we need
                const lgl2OvertimeInput = document.getElementById('lgl2_ot');
                const salaryDetails2 = document.getElementById('salary_details');
                const salaryRateInput2= document.getElementById('salary_rate');
                const lgl2OvertimeCalculationInput = document.getElementById('lgl2_ot_cal');

                // Add an event listener to the lgl2 overtime input to calculate the overtime calculation
                // when the value of the input changes
                lgl2OvertimeInput.addEventListener('input', function(e) {
                    // Get the values from the inputs
                    const lgl2Overtime = Number(e.target.value);
                    const salaryDetailsValue = salaryDetails2.value;
                    const salaryRate = Number(salaryRateInput2.value);

                    // Calculate the overtime calculation
                    const lgl2OvertimeCalculation = calculateOvertime(
                    salaryDetailsValue,
                    salaryRate,
                    lgl2Overtime
                    );

                    // Update the overtime calculation input with the result
                    lgl2OvertimeCalculationInput.value = lgl2OvertimeCalculation.toFixed(2);
                });

                // Function to calculate the overtime calculation
                function calculateOvertime(salaryDetails2, salaryRate, lgl2Overtime) {
                    // If the salary is monthly, divide the salary rate by 26 to get the daily rate
                    if (salaryDetails2 === 'Monthly') {
                    salaryRate = salaryRate / 26;
                    }

                    // Return the overtime calculation
                    return salaryRate / 8 * 2 * 1.30 * lgl2Overtime;
                }

        </script>






{% endblock %}