{% extends 'index.html' %}



{% block content %}
<body>
    <form method="POST">
        <div class="container mt-3">
            {% for list in agg_result_list%}
                <label for="ID"
                >ID</label><br>
                
                <input 
                type="text"
                name="trans_id"
                id="trans_id"
                value="{{list.id}}"
                class="form-control"
                >

                <label for="TransDate"
                >Trans Date</label><br>
                
                <input 
                type="date"
                name="trans_date"
                id="trans_date"
                value="{{list.transaction_date}}"
                class="form-control"
                >

                <label for="Equipment"
                >Equipment</label><br>
                
                <input 
                type="text"
                name="equipment_id"
                id="equipment_id"
                value="{{list.equipment_id}}"
                class="form-control"
                >

                <label for="WithdrawalSlip"
                >Withdrawal Slip</label><br>
                
                <input 
                type="text"
                name="withdrawal_slip"
                id="withdrawal_slip"
                value="{{list.withdrawal_slip}}"
                class="form-control"
                >
                
    
                <label for="Liter"
                >Liter</label>
                
                <input 
                type="number"
                name="use_liter"
                id="use_liter"
                step="0.01"
                value="{{list.use_liter}}"
                class="form-control"
                >
    
                <label for="Price">Price</label>

                <input 
                type="number"
                name="price"
                id="price"
                step="0.01"
                onblur="getAmount()"
                value="{{list.price}}"
                class="form-control"
                > 
    
    
    
                <label for="TotalAmount"
                >Total Amount</label>
                
                <input 
                type="number"
                name="amount"
                id="amount"
                step="0.01"
                value="{{list.amount}}""
                class="form-control"
                >
            {% endfor %}
               
        </div>
        <div class="container">
            <button type="submit" class="btn btn-danger">Save changes</button>
            <!-- <button  type="submit" class="btn btn-primary mt-4" onclick="update_diesel()">Save Changes</button> -->
            <!-- <button  type="submit" class="btn btn-danger mt-4">Test</button> -->
            <!-- <button id="update_button" type="submit" class="btn btn-primary mt-4" onsubmit="True">Update</button> -->
            <!-- <button id="update_button2" type="submit" class="btn btn-warning mt-4">Update2</button>  -->
        </div>
        
    </form>

    <script>
        function getCookie(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                const csrftoken = getCookie('csrftoken');
    </script>

    <script>
            $("#update_button").click(function(e) {
                e.preventDefault()
                //        id = this.id
                trans_id = $("#trans_id").val();
                trans_date = $("#trans_date").val();
                equipment_id = $("#equipment_id").val();
                withdrawal_slip = $("#withdrawal_slip").val();
                use_liter = $("#use_liter").val();
                price = $("#price").val();
                amount = $("#amount").val();
                

                $.ajax({
                    url: "/update-diesel/" +trans_id,
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        trans_id: trans_id,
                        trans_date: trans_date,
                        equipment_id: equipment_id,
                        withdrawal_slip: withdrawal_slip,
                        use_liter: use_liter,
                        price: price, 
                        amount: amount                        
                        }),
                       
                    beforeSend: function (xhr) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                },
                    success: function(data) {
                        console.log(data)
                        // window.location.href = "/allmembers/"
                        console.log("success");
                    },
                    error: function() {
                        console.log(data)
                        console.log("error");
                        alert('error loading from database...');
                        }
                });
            });
    </script>

    
    
    


</body>

    <script type="text/javascript">
        function update_diesel(){
            var data = {}
            var id = document.getElementById("trans_id").value
            data["trans_date"] = document.getElementById("trans_date").value
            data["equipment_id"] = document.getElementById("equipment_id").value
            data["withdrawalSlip"] = document.getElementById("withdrawalSlip").value
            data["liter"] = document.getElementById("liter").value
            data["price"] = document.getElementById("price").value
            data["amount"] = document.getElementById("amount").value
            
            console.log(data)

            fetch("/api-update-diesel/"+id, {
            method:'PUT', 
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data)
                })
        }
        

    </script>

    
    <script>
        $(document).ready(function(){
            $('#update_button2').on('click', function(){
                var id = $(this).attr('trans_id');
                var members_id = $("#members_id").val();
                var lname = $("#lastName").val();
                var fname = $("#firstName").val();
                var address = $("#address").val();
                var birthday = $("#birthday").val();
                var age = $("#age").val();
                var ministry = $("#ministry").val();
                var contact_number = $("#contact_number").val();

                req = $.ajax({
                    url: "/update-members/" + id,
                    type: "put",
                    dataType: "json",
                    contentType: "application/json",
                    data: {
                        members_id: members_id,
                        lname: lastName,
                        fname: firstName,
                        address: address,
                        birthday: birthday,
                        age: age,
                        ministry: ministry, 
                        contact_num: contact_number                        
                        },
                    
                });
                
            })
        })
        
    </script>
    <script>
        function getAmount(){
           var liter = $('#use_liter').val();
           var price = $('#price').val();
           $('#amount').val(liter*price);
        }
   </script>


{% endblock %}


    
    



