{% extends 'index.html' %}



{% block content %}
<body>
    <form >
        <div class="container mt-3">
            <input 
            type="text" hidden
            name="username"
            id="username"
            value="{{user}}"
            class="form-control"
            >
            {% for list in agg_result_list%}
               
                
                <input 
                type="text" hidden
                name="trans_id"
                id="trans_id"
                value="{{list.id}}"
                class="form-control"
                >

                <label for="DateUpdated"
                >Date Updated</label><br>
                
                <input 
                type="date"
                name="date_updated"
                id="date_updated"
               
                class="form-control"
                >

                <label for="TransDate"
                >Trans Date</label><br>
                
                <input 
                type="date"
                name="trans_date"
                id="trans_date"
                value="{{list.transaction_date}}"
                class="form-control"
                >

                <label for="Equipment"
                >Equipment</label><br>
                
                <input 
                type="text"
                name="equipment_id"
                id="equipment_id"
                value="{{list.equipment_id}}"
                class="form-control"
                >

                <label for="WithdrawalSlip"
                >Withdrawal Slip</label><br>
                
                <input 
                type="text"
                name="withdrawal_slip"
                id="withdrawal_slip"
                value="{{list.withdrawal_slip}}"
                class="form-control"
                >
                
    
                <label for="Liter"
                >Liter</label>
                
                <input 
                type="number"
                name="use_liter"
                id="use_liter"
                step="0.01"
                value="{{list.use_liter}}"
                class="form-control"
                >
    
                <label for="Price">Price</label>

                <input 
                type="number"
                name="price"
                id="price"
                step="0.01"
                onblur="getAmount()"
                value="{{list.price}}"
                class="form-control"
                > 
    
    
    
                <label for="TotalAmount"
                >Total Amount</label>
                
                <input 
                type="number"
                name="amount"
                id="amount"
                step="0.01"
                value="{{list.amount}}""
                class="form-control"
                >
            {% endfor %}
               
        </div>
        
        
    </form>
    <div class="form">

    </div>


    <div class="container">
        <button type="submit" class="btn btn-danger">Save changes</button>
        <!-- <button  type="submit" class="btn btn-primary mt-4" onclick="update_diesel()">Save Changes</button> -->
        <!-- <button  type="submit" class="btn btn-danger mt-4">Test</button> -->
        <!-- <button id="update_button" type="submit" class="btn btn-primary mt-4" onsubmit="True">Update</button> -->
        <!-- <button id="update_button2" type="submit" class="btn btn-warning mt-4">Update2</button>  -->
    </div>

    <div class="container">
       
        <button  type="submit" class="btn btn-primary mt-4" onclick="update_diesel()">Save Changes - JS</button>
        <!-- <button id="update_button" type="submit" class="btn btn-success mt-4" onsubmit="True">Update</button> -->
    </div>

    <script>
        function getCookie(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                const csrftoken = getCookie('csrftoken');
    </script>

    <script>
            $("#update_button").click(function(e) {
                e.preventDefault()
                //        id = this.id
                trans_id = $("#trans_id").val();
                trans_date = $("#trans_date").val();
                equipment_id = $("#equipment_id").val();
                withdrawal_slip = $("#withdrawal_slip").val();
                use_liter = $("#use_liter").val();
                price = $("#price").val();
                amount = $("#amount").val();
                

                $.ajax({
                    url: "/api-update-diesel/" +trans_id,
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({
                        trans_id: trans_id,
                        trans_date: trans_date,
                        equipment_id: equipment_id,
                        withdrawal_slip: withdrawal_slip,
                        use_liter: use_liter,
                        price: price, 
                        amount: amount                        
                        }),
                       
                    beforeSend: function (xhr) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                },
                    success: function(data) {
                        console.log(data)
                        // window.location.href = "/allmembers/"
                        console.log("success");
                    },
                    error: function() {
                        console.log(data)
                        console.log("error");
                        alert('error loading from database...');
                        }
                });
            });
    </script>

    
    
    


</body>

    <script type="text/javascript">
        function update_diesel(){
            var data = {}
            var id = document.getElementById("trans_id").value
            data["transaction_date"] = document.getElementById("trans_date").value
            data["equipment_id"] = document.getElementById("equipment_id").value
            data["withdrawal_slip"] = document.getElementById("withdrawal_slip").value
            data["use_liter"] = document.getElementById("use_liter").value
            data["price"] = document.getElementById("price").value
            data["amount"] = document.getElementById("amount").value

            data["username"] = document.getElementById("username").value
            data["date_update"] = document.getElementById("date_updated").value
            
            console.log(data)


            if(data["date_update"] != '' | data["withdrawal_slip"] != '' | data["amount"] 
                       | data["equipment_id"] != ''    ){
                    
                fetch("/api-update-diesel/"+ id, {
                method:'PUT', 
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(data)
                    })
                // window.location.assign("/peso-bill/");
                .then(function (response) {
                    // Save the response status in a variable to use later.
                    fetch_status = response.status;
                    // Handle success
                    // eg. Convert the response to JSON and return
                    return response.json();
                }) 
                .then(function (json) {
                    // Check if the response were success
                    if (fetch_status == 200) {
                        // Use the converted JSON
                        window.alert("Your Data has been Updated");
                        window.location.assign("/diesel-consumption/");
                        console.log(json);
                    }
                })
                .catch(function (error){
                    // Catch errors
                    window.alert(error);
                    console.log(error);
                });
                
                }
                else{
                    window.alert("Please fill up fields");
                }

           
        }
        

    </script>

    
    <script>
        $(document).ready(function(){
            $('#update_button2').on('click', function(){
                var id = $(this).attr('trans_id');
                var members_id = $("#members_id").val();
                var lname = $("#lastName").val();
                var fname = $("#firstName").val();
                var address = $("#address").val();
                var birthday = $("#birthday").val();
                var age = $("#age").val();
                var ministry = $("#ministry").val();
                var contact_number = $("#contact_number").val();

                req = $.ajax({
                    url: "/update-members/" + id,
                    type: "put",
                    dataType: "json",
                    contentType: "application/json",
                    data: {
                        members_id: members_id,
                        lname: lastName,
                        fname: firstName,
                        address: address,
                        birthday: birthday,
                        age: age,
                        ministry: ministry, 
                        contact_num: contact_number                        
                        },
                    
                });
                
            })
        })
        
    </script>
    <script>
        function getAmount(){
           var liter = $('#use_liter').val();
           var price = $('#price').val();
           $('#amount').val(liter*price);
        }
   </script>


{% endblock %}


    
    



