{% extends 'index.html' %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

<style>
   /* body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   } */

   /* table {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-collapse: collapse;
    border: 1px solid #bdc3c7;
    width: 800px;
    height: 200px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
   }
   tr {
    transition: all .2s ease-in;
    cursor: pointer;
   } */

</style>

<body>
    <div class="container">

    </div>
    
        <div class="container mt-3">
            <label for="TransactionDate" >Date From</label>
                    <input
                        type="date"
                        name="datefrom"
                        id="datefrom"
                        >
                    </input>  

                <label for="TransactionDate" >Date To</label>
                    <input
                        type="date"
                        name="dateto"
                        id="dateto"
                        >
                    </input>
                    
                <label for="Equipment ID" >Equipment ID</label>
                    <input
                        type="text"
                        name="equipment_id"
                        id="equipment_id"
                        >
                    </input>

                    <button type="submit"  onclick="display_data()" class="btn btn-success">
                        Search Data
                        <i class="fas fa-database"></i>
                    </button>

                    <button type="submit"  onclick="html_table_excel('xlsx')" class="btn btn-secondary">
                        Export Excel
                        <i class="fas fa-database"></i>
                    </button>

        </div>
        <div  class="container mt-3">
            
                <table id="myTable" class="table table-bordered"  style="text-align: center;">
                <thead class="table-dark">
                
                        <td>ID</td>
                        <td>Date</td>
                        <td>Equipment ID</td>
                        <td>Withdrawal Slip</td>
                        <td>Liter</td>
                        <td>Running Liters</td>
                        <td>Price</td>
                        <td>Amount</td>
                        <td>Commulative Amount</td>
                       
                        
                    </tr>
                </thead>
                <tbody id="table_body">
                   
                        
                        <tr>
                            
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                      
                        </tr>
                       
                    
                </tbody>

               

            </table>


            
            
                
                
        </div>

        

    
        <div class="container">

        </div>


       

        <!-- <div class="container">
            <ul id="one"></ul>
        </div> -->
    

    

    <script type="text/javascript">

            // const rental_url =search_url ;
            async function display_data(){
                var datefrom = document.getElementById("datefrom").value
                var dateto = document.getElementById("dateto").value
                var equipID = document.getElementById("equipment_id").value


                

                if (equipID == ''){
                    const search_url = `/api-get-diesel-date/?datefrom=${datefrom}&dateto=${dateto}`;


                    const responce = await fetch(search_url)
                    const data = await responce.json();

                    if (data.length === 0) {
                        window.alert('No Data available');
                    };

                    if (responce.status === 200){
                        console.log(data)
                        let tableData="";
                        data.map((values)=>{
                            tableData+= ` <tr>
                                        <td>${values.id}</td>
                                        <td>${values.transaction_date}</td>
                                        <td>${values.equipment_id}</td>
                                        <td>${values.withdrawal_slip}</td>
                                        <td>${values.use_liter}</td>
                                        <td>${values.total_liters}</td>
                                        <td>${values.price}</td>
                                        <td>${values.amount}</td>
                                        <td>${values.total_amount}</td>
                                    
                                    
                                    </tr>`;
                        });
                        document.getElementById("table_body").innerHTML=tableData;

                    } 
                    
                    else{
                        window.alert('Unauthorized Please login');
                    }
                    

                }else{

                    const search_url = `/api-get-diesel-equipment/?datefrom=${datefrom}&dateto=${dateto}&equipment_id=${equipID}`;


                    const responce = await fetch(search_url)
                    const data = await responce.json();

                    if (data.length === 0) {
                        window.alert('No Data available');
                    };

                    if (responce.status === 200){
                        console.log(data)
                        let tableData="";
                        data.map((values)=>{
                            tableData+= ` <tr>
                                        <td>${values.id}</td>
                                        <td>${values.transaction_date}</td>
                                        <td>${values.equipment_id}</td>
                                        <td>${values.withdrawal_slip}</td>
                                        <td>${values.use_liter}</td>
                                        <td>${values.total_liters}</td>
                                        <td>${values.price}</td>
                                        <td>${values.amount}</td>
                                        <td>${values.total_amount}</td>
                                    
                                    
                                    </tr>`;
                        });
                        document.getElementById("table_body").innerHTML=tableData;

                    } 
                    
                    else{
                        window.alert('Unauthorized Please login');
                    }
                    

                    

                }
        
               
            }
        

    </script>

        <script>

            $( function() {
                
                $("#equipment_id").autocomplete({
                source: "/autocomplete-rizal-equipment/"
                });

            } );



        </script>


        <script>
            function html_table_excel(type){
                var data = document.getElementById('table_body');
                var file = XLSX.utils.table_to_book(data,{sheet: "sheet1"});
                XLSX.write(file,{ booktype: type, bookSST: true, type: 'base64'});
                XLSX.writeFile(file, 'file.' + type);

            }
          
            
        </script>



        

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-html5-2.2.3/b-print-2.2.3/datatables.min.js"></script>
 

    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.11.5/api/sum().js"></script>  -->


    <script>
    //     $(document).ready(function () {
    //             $('#myTable').DataTable();
    //         });
    // </script>

        

        
</body>


{% endblock %}