
{% extends 'index.html' %}

{% block content %}


<body>
    <div class="form">
        <form >
            {% for list in agg_result_list%}
            <div  class="container mt-3">
                
                <input
                    type="text" hidden
                    name="user"
                    id="user"
                    value="{{user}}"
                    >
                </input>  
                
        </div>

            <div  class="container mt-3">
                
                    <input
                        type="text" hidden
                        name="trans_id"
                        id="trans_id"
                        value="{{list.trans_id}}"
                        >
                    </input>  
                    
            </div>
            <div  class="container mt-3">
                <label for="trans_date" >Date-Update</label><br>
                    <input
                        type="date"
                        name="date_credited"
                        id="date_credited"
                        
                        >
                    </input>  
                    
            </div>

            <div  class="container mt-3">
                <label for="trans_date" >Transaction Date</label><br>
                    <input
                        type="date"
                        name="trans_date"
                        id="trans_date"
                        value="{{list.trans_date}}"
                        >
                    </input>  
                    
            </div>

            <div  class="container mt-3">
                <label for="Equipment" >Equipment</label><br>
                    <input
                    type="text"
                    name="equipment_id"
                    id="equipment_id"
                    step="0.01"
                    value="{{list.equipment_id}}"
                    >
                    </input>  
                
                    
            </div>
            <div  class="container mt-3">
                <label for="Ore Owner" >Ore Owner</label><br>

                    <input
                    type="text"
                    name="ore_owner"
                    id="ore_owner"
                    step="0.01"
                    value="{{list.ore_owner}}"
                    >
                    </input>  
                    
                    
            </div>

            <div  class="container mt-3">
                <label for="TracFactor" >Track Factor</label><br>
                    <input
                        type="number"
                        name="trackFactor"
                        id="trackFactor"
                        step="0.01"
                        value="{{list.trackFactor}}"
                        onkeyup="getAverage();" 
                        >
                    </input>  
                    
            </div>

            <div  class="container mt-3">
                <label for="No Trips" >No of Trips</label><br>
                    <input
                        type="number"
                        name="no_trips"
                        id="no_trips"
                        step="0.01"
                        value="{{list.no_trips}}"
                        onkeyup="getAverage();" 
                        >
                    </input>  
                    
            </div>

            <div  class="container mt-3">
                <label for="Distance" >Distance</label><br>
                    <input
                        type="number"
                        name="distance"
                        id="distance"
                        step="0.01"
                        value="{{list.distance}}"
                        onkeyup="getAverage();" 
                        >
                    </input>  
                    
            </div>

            <div  class="container mt-3">
                <label for="Rate" >Rate</label><br>
                    <input
                        type="number"
                        name="rate"
                        id="rate"
                        step="0.01"
                        value="{{list.rate}}"
                        onkeyup="getAverage();" 
                        >
                    </input>  
                    
            </div>

            <div  class="container mt-3">
                <label for="Tax" >Value Added Tax</label><br>

                <input
                    type="number"
                    name="taxRate"
                    id="taxRate"
                    step="0.01"
                    value="{{list.taxRate}}"
                    onkeyup="getAverage();" 
                    >
                </input>  
                

            </div>

            <div  class="container mt-3">
                <label for="VAT OUTPUT" >VAT OUTPUT</label><br>

                <input
                    type="number"
                    name="vat_output"
                    id="vat_output"
                    step="0.01"
                    
                    >
                </input>  
                

            </div>

            
            {% endfor %}
        </form>

        <div  class="container mt-3">
               

            <button  type="submit" class="btn btn-primary mt-4" onclick="insert_peso()">Save Changes</button> 
                
        </div>

    </div>
    
   
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>


        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-html5-2.2.3/b-print-2.2.3/datatables.min.js"></script>


        <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.11.5/api/sum().js"></script>

       
        <script type="text/javascript">

                

            // $(document).ready(function () {
            //     $('#myTable').DataTable();
            // });
            $(document).ready(function () {


                $("#myTable").DataTable({
                   

                    drawCallback: function () {
                    var api = this.api();
                    var sum = 0;
                    var formated = 0;
                    //to show first th
                    $(api.column(0).footer()).html('Total');

                    for(var i=3; i<=12;i++)
                    {
                        sum = api.column(i,{page:'current'}).data().sum();

                        //to format this sum
                        formated = parseFloat(sum).toLocaleString(undefined, {minimumFractionDigits:2});
                        $(api.column(i).footer()).html(''+formated);
                    }
                    
                },

                                // Refilter the table
               
                    // configuration
                    paging: true,
                    pageLength: 25,
                    lengthChange: true,
                    autowidth: true,
                    searching: true,
                    bInfo: true,
                    bsort: true,
                    

                    dom: 'LBfrtip',
                    buttons: [
                        { // COPY
                            extend : 'copy',
                            text: 'Copy',
                            className: 'btn btn-secondary',
                            titleArttr: 'Copy',
                            exportOptions: {
                                columns: [0,1,2,3,4,5,6,7,8,9,10,11]
                            },
                        },
                        { // EXCEL
                            extend : 'excel',
                            text: 'Export Excel',
                            className: 'btn btn-success',
                            titleArttr: 'Excel',
                            exportOptions: {
                                columns: [0,1,2,3,4,5,6,7,8,9,10,11]
                            },
                        },
                        { // Print
                            extend : 'print',
                            text: 'Print',
                            className: 'btn btn-danger',
                            titleArttr: 'Print',
                            exportOptions: {
                                columns: [0,1,2,3,4,5,6,7,8,9,10,11]
                            },
                        },

                    
                    ]

                })
           

        });
            
        </script>

        <script type="text/javascript">
            function insert_peso(){
                var data = {}
                var id = document.getElementById("trans_id").value
                data["trans_date"] = document.getElementById("trans_date").value
                data["equipment_id"] = document.getElementById("equipment_id").value
                data["ore_owner"] = document.getElementById("ore_owner").value
                data["trackFactor"] = document.getElementById("trackFactor").value
                data["no_trips"] = document.getElementById("no_trips").value
                data["distance"] = document.getElementById("distance").value
                data["rate"] = document.getElementById("rate").value
                data["taxRate"] = document.getElementById("taxRate").value
                data["vat_output"] = document.getElementById("vat_output").value
                data["date_credited"] = document.getElementById("date_credited").value
                data["user"] = document.getElementById("user").value
                
                console.log(data)

                if(data["date_credited"] != '' | data["vat_output"] != ''){
                    fetch("/api-update-pesoBill/"+ id, {
                method:'PUT', 
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(data)
                    })
                // window.location.assign("/peso-bill/");
                .then(function (response) {
                    // Save the response status in a variable to use later.
                    fetch_status = response.status;
                    // Handle success
                    // eg. Convert the response to JSON and return
                    return response.json();
                }) 
                .then(function (json) {
                    // Check if the response were success
                    if (fetch_status == 200) {
                        // Use the converted JSON
                        window.alert("Your Data has been Updated");
                        window.location.assign("/peso-bill/");
                        console.log(json);
                    }
                })
                .catch(function (error){
                    // Catch errors
                    window.alert(error);
                    console.log(error);
                });
                
                }
                else{
                    window.alert("Please fill up fields");
                }
            }
            

        </script>



        
        <script>
             function getAmount(){
                var trackFactor = $('#trackFactor').val();
                var no_trips = $('#no_trips').val();
                var distance = $('#distance').val();
                var rate = $('#rate').val();
                var totalVolume = parseFloat(trackFactor) * parseFloat(no_trips) * parseFloat(distance)
                var PHP_total = parseFloat(totalVolume) * parseFloat(rate)
                
                var taxRate = $('#taxRate').val();
                var vatOutput = parseFloat(PHP_total)/1.12
                $('#vat_output').val(parseFloat(vatOutput)*parseFloat(taxRate));
             }
        </script>

        <script type="text/javascript">
            function getAverage(){
                var trackFactor=document.getElementById('trackFactor').value;
                var no_trips=document.getElementById('no_trips').value;
                var distance=document.getElementById('distance').value;
                var rate=document.getElementById('rate').value;
                var taxRate =document.getElementById('taxRate').value;
                var totalVolume;
                var PHP_total;
                var vatOutput;
            
                
            
                if(trackFactor !="" && no_trips !="" && distance !="" && rate !=""){
                    totalVolume = parseFloat(trackFactor) * parseFloat(no_trips) * parseFloat(distance);
                    PHP_total = parseFloat(totalVolume) * parseFloat(rate) 
                    vatOutput = parseFloat(PHP_total)/1.12 * parseFloat(taxRate)
                    // test = num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    // console.log(test)
            
                    document.getElementById('vat_output').value=vatOutput.toFixed(2);	
                
                    
                }
            
            }

        </script>
        

    
</body>



{% endblock %}

