
{% extends 'index.html' %}



{% block content %}
<body>
   <div class="container">

        <div class="container mt-3">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addequipment">
                Add Equipment
            </button>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateEquipment">
                Update Equipment
            </button>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#equipmentTable">
                Equipment Table
            </button>
            <br><br>

            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addRoutes">
                Add Routes
            </button>

            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#routesTable">
                Routes Table
            </button>

            <br><br>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addHauling">
                Add Hauling
            </button>

            
        </div>
            <!-- Modal -->
            <div class="modal fade" id="updateEquipment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Equipment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>

                    
                    <div class="modal-body">

                        <label for="transID"
                        >Trans ID</label>
                        
                        <input 
                        type="text"
                        name="transID"
                        id="transID"
                        required
                        
                        >

                        <button type="submit"  onclick="display_data()" class="btn btn-success">
                            Search 
                            <i class="fas fa-database"></i>
                        </button>

                        <br>
                        
                        
                    
                        <label for="EquipmentID"
                        >Equipment ID</label>
                        
                        <input 
                        type="text"
                        name="equipment_id_update"
                        id="equipment_id_update"
                        
                        class="form-control"
                        >

                        <label for="Equipment Discription"
                        >Equipment Discription</label>
                        
                        <input 
                        type="text"
                        name="equipment_desc_update"
                        id="equipment_desc_update"
                        
                        class="form-control"
                        >

                        <label for="Remarks"
                        >Remarks</label>

                        <input 
                        type="text"
                        name="remarks_update"
                        id="remarks_update"
                        
                        class="form-control"
                        >
                        
                        <br><br>
                        
            
                    
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" onclick="update_equipment()" class="btn btn-primary">Update</button>
                    <!-- <button type="button" name ="save_button" id="save_button" class="btn btn-success">Save</button> -->
                    </div>
                </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="addequipment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Equipment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>

                    
                    <div class="modal-body">
                        
                    
                        <label for="EquipmentID"
                        >Equipment ID</label>
                        
                        <input 
                        type="text"
                        name="equipment_id"
                        id="equipment_id"
                        class="form-control"
                        >


                        <label for="Equipment Discription"
                        >Equipment Discription</label>
                        
                        <input 
                        type="text"
                        name="equipment_desc"
                        id="equipment_desc"
                        
                        class="form-control"
                        >

                        <label for="Remarks"
                        >Remarks</label>

                        <input 
                        type="text"
                        name="remarks"
                        id="remarks"
                        
                        class="form-control"
                        >
                        
                        <br><br>
                        
            
                    
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" onclick="insert_equipment()" class="btn btn-primary">Save</button>
                    <!-- <button type="button" name ="save_button" id="save_button" class="btn btn-success">Save</button> -->
                    </div>
                </div>
                </div>
            </div>



            <!-- This for table of Equipment -->

            <div class="modal fade" id="equipmentTable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog  modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Euipment Table</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>

                    
                    <div class="modal-body">

                        <div  class="container mt-3">
                            <table id="myTable" class="table table-bordered"  style="text-align: center;">
                                <thead class="table-dark">
                                
                                        <td>ID</td>
                                        <td>Equipment ID</td>
                                        <td>Equipment Description</td>
                                        <td>Remarks</td>
                                        <td>Action</td>
                                        
                                    </tr>
                                </thead>
                                <tbody id="table_body">
                                   
                                        
                                        <tr>
                                            
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            
                                      
                                        </tr>
                                       
                                    
                                </tbody>
                
                               
                
                            </table>
                
                            
                                
                                
                        </div>
            
                      
               </div>
            

                       
            
                    
                    </div>
                    <div class="modal-footer">
                    
                    <!-- <button type="button" name ="save_button" id="save_button" class="btn btn-success">Save</button> -->
                    </div>
                </div>
                </div>
            </div>

            <!-- This is for Adding Routes Modal -->

            <div class="modal fade" id="addRoutes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Routes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>

                    
                    <div class="modal-body">

                        
                        
                        
                    
                        <label for="Routes"
                        >Routes</label>
                        
                        <input 
                        type="text"
                        name="routes_name"
                        id="routes_name"
                        
                        class="form-control"
                        >

                        <label for="Distance"
                        >Distance</label>
                        
                        <input 
                        type="number"
                        name="distance"
                        id="distance"
                        step="0.01"
                        class="form-control"
                        ><br><br>

                        
                
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" onclick="insert_routes()" class="btn btn-primary">Save</button>
                    <!-- <button type="button" name ="save_button" id="save_button" class="btn btn-success">Save</button> -->
                    </div>
                </div>
                </div>
            </div>


            <!-- This for table of Equipment -->

            <div class="modal fade" id="routesTable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Euipment Table</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>

                    
                    <div class="modal-body">
                        <div class="container mt-3">
                            <button type="submit" onclick="display_data2()" class="btn btn-primary">Display</button>
                        </div>

                        <div  class="container mt-3">
                            <table id="myTable_routes" class="table table-bordered"  style="text-align: center;">
                                <thead class="table-dark">
                                
                                        <td>ID</td>
                                        <td>Routes</td>
                                        <td>Distance</td>
                                        
                                        <td>Action</td>
                                        
                                    </tr>
                                </thead>
                                <tbody id="table_body_routes">
                                   
                                        
                                        <tr>
                                            
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                           
                                            
                                      
                                        </tr>
                                       
                                    
                                </tbody>
                
                               
                
                            </table>
                
                            
                                
                                
                        </div>
            
                      
               </div>
            

                       
            
                    
                    </div>
                    <div class="modal-footer">
                    
                    <!-- <button type="button" name ="save_button" id="save_button" class="btn btn-success">Save</button> -->
                    </div>
                </div>
                </div>
            </div>



            <!-- This is for Adding Hauling  -->

            <div class="modal fade" id="addHauling" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Hauling</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>

                    
                    <div class="modal-body">
                    
                        <input 
                        type="text" hidden
                        name="username"
                        id="username"
                        value={{user}}
                        class="form-control"
                        >
                     
                        <label for="Trans Date"
                        >Transaction Date</label>


                        
                        <input 
                        type="date"
                        name="trans_date"
                        id="trans_date"
                        
                        class="form-control"
                        >
                        
                        
                        
                    
                        <label for="EquipmentID"
                        >Equipment ID</label>
                        
                        <input 
                        type="text"
                        name="equipment_id_h"
                        id="equipment_id_h"
                        class="form-control"
                        >

                        <br>
                        <label for="Routes"
                        >Routes</label>
                        
                        <input 
                        type="text"
                        name="routes_h"
                        id="routes_h"
                        style="width: 250px;"
                        >
                        <button type="submit" onclick="display_distance()"  class="btn btn-success">
                            Search
                            <i class="fas fa-database"></i>
                        </button>

                        <br>

                        <label for="Distance"
                        >Distance</label>
                        
                        <input 
                        type="number"
                        name="distance_h"
                        id="distance_h"
                        step="0.01"
                        class="form-control"
                        >

                        <label for="Track Factor"
                        >Trackfactor</label>
                        
                        <input 
                        type="text"
                        name="trackFactor_h"
                        id="trackFactor_h"
                        class="form-control"
                        >

                        <label for="Number of Trips"
                        >Number of Trips</label>
                        
                        <input 
                        type="number"
                        name="no_trips_h"
                        id="no_trips_h"
                        step="0.01"
                        class="form-control"
                        >

                        <label for="Volume"
                        >Volume</label>
                        
                        <input 
                        type="number"
                        name="volume_h"
                        id="volume_h"
                        step="0.01"
                        class="form-control"
                        >

                        <label for="Rate"
                        >Rate</label>
                        
                        <input 
                        type="number"
                        name="rate_h"
                        id="rate_h"
                        step="0.01"
                        class="form-control"
                        >

                        <label for="TotalAmount"
                        >Amount</label>
                        
                        <br>
                        <input 
                        type="number"
                        name="amount_h"
                        id="amount_h"
                        step="0.01"
                        
                        >

                        <button type="submit" onclick="calculate()"  class="btn btn-success">
                            Calculate
                            <i class="fas fa-database"></i>
                        </button>
                        
                        <br>
                    
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="vatable" value="0.12" name="vatable">
                            <label class="custom-control-label" for="customCheck1">Vatable</label>

                            <input type="checkbox" class="custom-control-input" id="not-vat" value=0 name="not-vat">
                            <label class="custom-control-label" for="customCheck1">Non-Vat</label>
                        </div>

                       
                        <br>
                        <label for="TaxRate"
                        >Tax Rate</label>
                        
                        <input 
                        type="number"
                        name="taxRate_h"
                        id="taxRate_h"
                        step="0.01"
                        class="form-control"
                        >
                       

                        <label for="Vat Output"
                        >Vat Output</label>
                        
                        <input 
                        type="number"
                        name="vat_output_h"
                        id="vat_output_h"
                        step="0.01"
                        class="form-control"
                        >

                        <label for="Net of Vat"
                        >Net of Vat</label>
                        
                        <input 
                        type="number"
                        name="net_of_vat_h"
                        id="net_of_vat_h"
                        step="0.01"
                        class="form-control"
                        >

                       
                        
                        <br><br>

                        
                
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" onclick="insert_hauling()" class="btn btn-primary">Save</button>
                    <!-- <button type="button" name ="save_button" id="save_button" class="btn btn-success">Save</button> -->
                    </div>
                </div>
                </div>
            </div>



        
        
        
            

   <script type="text/javascript">
        function insert_equipment(){
            var data = {}
            // var id = document.getElementById("trans_id").value
            data["equipment_id"] = document.getElementById("equipment_id").value
            data["equipment_desc"] = document.getElementById("equipment_desc").value
            data["remarks"] = document.getElementById("remarks").value
           
            
            console.log(data)

            fetch("/api-add-equipment/", {
            method:'POST', 
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data)
                })


                .then(function (response) {
                    // Save the response status in a variable to use later.
                    fetch_status = response.status;
                    // Handle success
                    // eg. Convert the response to JSON and return
                    return response.json();
                }) 
                .then(function (json) {
                    // Check if the response were success
                    if (fetch_status == 200) {
                        // Use the converted JSON
                        window.alert("Your Data has been Save");
                        window.location.assign("/zamboanga-equipment/");
                        console.log(json);
                    }
                    else if (fetch_status == 401){
                        window.alert("Unauthorized credential Please Login");
                    }
                })
                .catch(function (Error){
                    // Catch errors
                    window.alert(Error);
                    console.log(Error);
                });
                
            // window.location.assign("/peso-bill/");

            // window.alert("Your Data has been Save");
            // window.location.assign("/zamboanga-equipment/");

            // if ({detail:"Not authenticated"}) {
            //     window.alert("Unauthorized credentials Please login");
                
            // } else if({Messege: "Has been Save"}){
                
               
            // }
            
        }
        

    </script>

    <script type="text/javascript">

        function update_equipment(){
            var data = {}
            var id = document.getElementById("transID").value
            data["equipment_id"] = document.getElementById("equipment_id_update").value
            data["equipment_desc"] = document.getElementById("equipment_desc_update").value
            data["remarks"] = document.getElementById("remarks_update").value
           
            
            console.log(data)

            if (id ===''){
                window.alert("Trans ID field is requires");
            } else{
                fetch("/api-update-equipment/"+id, {
                    method:'PUT', 
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(data)
                })


                .then(function (response) {
                    // Save the response status in a variable to use later.
                    fetch_status = response.status;
                    // Handle success
                    // eg. Convert the response to JSON and return
                    return response.json();
                }) 
                .then(function (json) {
                    // Check if the response were success
                    if (fetch_status == 200) {
                        // Use the converted JSON
                        window.alert("Your Data has been Updated");
                        window.location.assign("/zamboanga-equipment/");
                        console.log(json);
                    }
                    else if (fetch_status == 401){
                        window.alert("Unauthorized credential Please Login");
                    }
                })
                .catch(function (error){
                    // Catch errors
                    window.alert(error);
                    console.log(error);
                });

            }

            }

    </script>


    <script type="text/javascript">

       

        // const rental_url =search_url ;
        async function display_data(){
            
            const search_url = `/api-get-equipment/`;


            const responce = await fetch(search_url)
            const data = await responce.json();
            console.log(data)
            
            
            
            let tableData="";
            data.map((values)=>{
                tableData+= ` <tr>
                            <td>${values.id}</td>
                            <td>${values.equipment_id}</td>
                            <td>${values.equipment_desc}</td>
                            <td>${values.remarks}</td>
                           
                            <td>
                                <button type="button"  id="remove_button" onclick="delete_equipment(${values.id})" class="btn btn-danger">
                                    <i class="fas fa-database">
                                    </i>Remove</button>
                            </td>
                        
                        </tr>`;
            });
            document.getElementById("table_body").innerHTML=tableData;
        }
        
        display_data()

    </script>




    <script type="text/javascript">
        function delete_equipment(id){
        
        fetch("/api-delete-equipment/"+ id, {
        method:'DELETE',
            })
            window.alert("Your Data has been Deleted");
            window.location.assign("/zamboanga-equipment/");
        }
    
    </script>

    <script type="text/javascript">

        // const rental_url =search_url ;
        async function display_data(){
            var transid = document.getElementById("transID").value

            const search_url = `/api-search-equipment/?id=${transid}`;


            const responce = await fetch(search_url)
            const data = await responce.json();
            console.log(data)
            if (responce.status != 200){
                    window.alert("Unauthorized Please Login")

                };

            if (data.length === 0){
                window.alert(`No ID store for ${transid}`)
            }else{
                var equipment_id = data[0].equipment_id
                var equipment_desc = data[0].equipment_desc
                var remarks = data[0].remarks
                

                document.getElementById("equipment_id_update").value = equipment_id
                document.getElementById("equipment_desc_update").value = equipment_desc
                document.getElementById("remarks_update").value = remarks

            }
            
        

        }

        
        

    </script>

    <!-- ================================This is for routes javascript============================= -->

    <script type="text/javascript">
        function insert_routes(){
            var data = {}
            
            data["routes_name"] = document.getElementById("routes_name").value
            data["distance"] = document.getElementById("distance").value
            
           
            
            console.log(data)

            fetch("/api-add-routes/", {
            method:'POST', 
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data)
                })


                .then(function (response) {
                    // Save the response status in a variable to use later.
                    fetch_status = response.status;
                    // Handle success
                    // eg. Convert the response to JSON and return
                    return response.json();
                }) 
                .then(function (json) {
                    // Check if the response were success
                    if (fetch_status == 200) {
                        // Use the converted JSON
                        window.alert("Your Data has been Save");
                        window.location.assign("/zamboanga-equipment/");
                        console.log(json);
                    }
                    else if (fetch_status == 401){
                        window.alert("Unauthorized credential Please Login");
                    }
                })
                .catch(function (Error){
                    // Catch errors
                    window.alert(Error);
                    console.log(Error);
                });
                
          
            
        }
        

    </script>

    <script type="text/javascript">

        

        // const rental_url =search_url ;
        async function display_data2(){
            
            const search_url = `/api-get-routes/`;


            const responce = await fetch(search_url)
            const data = await responce.json();
            console.log(data)
            
            
            
            let tableData2="";
            data.map((values)=>{
                tableData2+= ` <tr>
                            <td>${values.id}</td>
                            <td>${values.routes_name}</td>
                            <td>${values.distance}</td>
                            
                        
                            <td>
                                <button type="button"  id="remove_button" onclick="delete_equipment(${values.id})" class="btn btn-danger">
                                    <i class="fas fa-database">
                                    </i>Remove</button>
                            </td>
                        
                        </tr>`;
            });
            document.getElementById("table_body_routes").innerHTML=tableData2;
        }
        
       

    </script>

    <!-- ==================================This is for Hauling Frame====================================== -->

    <script type="text/javascript">
        function insert_hauling(){
            var data = {}
            
            data["trans_date"] = document.getElementById("trans_date").value
            data["equipment_id"] = document.getElementById("equipment_id_h").value
            data["routes"] = document.getElementById("routes_h").value
            data["distance"] = document.getElementById("distance_h").value
            data["trackFactor"] = document.getElementById("trackFactor_h").value
            data["no_trips"] = document.getElementById("no_trips_h").value
            data["volume"] = document.getElementById("volume_h").value
            data["rate"] = document.getElementById("rate_h").value
            data["taxRate"] = document.getElementById("taxRate_h").value
            data["amount"] = document.getElementById("amount_h").value
            data["vat_output"] = document.getElementById("vat_output_h").value
            data["net_of_vat"] = document.getElementById("net_of_vat_h").value
            data["user"] = document.getElementById("username").value
            
           
            
            console.log(data)

            fetch("/api-add-hauling/", {
            method:'POST', 
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data)
                })


                .then(function (response) {
                    // Save the response status in a variable to use later.
                    fetch_status = response.status;
                    // Handle success
                    // eg. Convert the response to JSON and return
                    return response.json();
                }) 
                .then(function (json) {
                    // Check if the response were success
                    if (fetch_status == 200) {
                        // Use the converted JSON
                        window.alert("Your Data has been Save");
                        window.location.assign("/zamboanga-equipment/");
                        console.log(json);
                    }
                    else if (fetch_status == 401){
                        window.alert("Unauthorized credential Please Login");
                    }
                })
                .catch(function (Error){
                    // Catch errors
                    window.alert(Error);
                    console.log(Error);
                });
                
          
            
        }
    </script>

    <!-- This is for calculation of vat and etc -->

    <script>
        function calculate(){
            let checkBox = document.getElementById('vatable');
            var distance = document.getElementById('distance_h').value;
            var truckfactor = document.getElementById('trackFactor_h').value;
            var no_trips = document.getElementById('no_trips_h').value;
            var volume = document.getElementById('volume_h').value;
            var rate = document.getElementById('rate_h').value;
            
            
            var amt = parseFloat(distance) * parseFloat(truckfactor) * parseFloat(rate) * parseFloat(no_trips)
            var volume = parseFloat(distance) * parseFloat(truckfactor)  * parseFloat(no_trips)
           
            document.getElementById('amount_h').value = amt.toFixed(2);
            volume = document.getElementById('volume_h').value = volume.toFixed(2);
            var testValue;
            var vatOuput;
            var netofVat;

            
            if (checkBox.checked){
                testValue = 0.12
                netofVat = amt/1.12
                vatOuput = netofVat * 0.12
                document.getElementById('taxRate_h').value = testValue.toFixed(2);
                document.getElementById('net_of_vat_h').value = netofVat.toFixed(2);
                document.getElementById('vat_output_h').value = vatOuput.toFixed(2);

            }else{
                checkBox2 = document.getElementById('not-vat')
                testValue = 0.00
                netofVat = amt
                vatOuput = 0.00
                document.getElementById('taxRate_h').value = testValue.toFixed(2);
                document.getElementById('net_of_vat_h').value = netofVat.toFixed(2);
                document.getElementById('vat_output_h').value = vatOuput.toFixed(2);
                
                
            }


           
        }
        
           
       
       
       
    </script>

    <!-- This is for auto complete of Routes -->
    <script>
        $( function() { 
                    $("#routes_h").autocomplete({
                    source: "/api-search-routes/"
                    });

                } );

    </script>

    <!-- this is for auto display of Distance for Hauling -->
    <script type="text/javascript">

        // const rental_url =search_url ;
        async function display_distance(){
            var routeSearch = document.getElementById("routes_h").value

            const search_url = `/api-search-distance/?term=${routeSearch}`;


            const responce = await fetch(search_url)
            const data = await responce.json();
            console.log(data)
            console.log(data.length)

            if (responce.status != 200){
                window.alert("Unauthorized Please Login")

            };

            if (data.length === 0){
                window.alert(`No ID store for ${routeSearch}`)
            }
            else{
                var distance = data[0]
            
                document.getElementById('distance_h').value = distance
                

            }
              
            
        }
    </script>



</body>

{% endblock %}